@import "bourbon"
@import "icon.sass"
@import "slick-theme.css"
@import "mixins"

$font: 'Montserrat', sans-serif

$font1_600: 'InterUI-SemiBold', sans-serif
$font1_700: 'InterUI-Bold', sans-serif
$font1: 'InterUI-Regular', sans-serif

$font2_500: 'PTRootUI-Medium', sans-serif
$font2_700: 'PTRootUI-Bold', sans-serif
$font2_300: 'PTRootUI-Light', sans-serif

$blue: #5f89fc
$green: #01AF4D

html
	box-sizing: border-box

*,
*::after,
*::before
	box-sizing: inherit
	outline: none

@include placeholder()
  color: #575757

body
	margin: 0	
	overflow-x: hidden
	font-family: $font
	line-height: 1.4
	font-size: 14px
	background-color: #fff
	color: #575757
	&.fixed
		overflow: hidden

img
	max-width: 100%	
	border: none	
	outline: none	

a
	border: none	
	outline: none	

ul
	list-style-type: none	
	margin: 0	
	padding: 0

select::-ms-expand
	display: none

select
	appearance: none

button,
input,
textarea,
select
	font-family: $font

%container
	width: 100%
	max-width: 1170px	
	padding: 0 15px
	margin: 0 auto

%grid
	display: table
	width: 100%
	table-layout: fixed

%part
	display: table-cell
	vertical-align: top

.container
	@extend %container

.w-page
	overflow: hidden

.btn
	display: inline-block
	border: none
	background-color: $blue
	font-family: $font2_700
	font-weight: 700
	text-transform: uppercase
	text-align: center
	font-size: 20px
	text-decoration: none
	color: #fff
	padding: 15px 30px
	border-radius: 6px
	transition: all .2s
	cursor: pointer
	width: 100%
	margin-top: 15px
	&:hover
		transform: scale(1.1)
	&[disabled]
		transform: scale(1) !important
		cursor: default
 
.field
	width: 100%
	color: #010101
	font-size: 16px
	border-radius: 6px
	border: none
	padding: 16px
	font-weight: 400
	&+&
		margin-top: 15px

.header
	position: relative
	z-index: 1
	height: auto !important
	&__inner
		@extend %container
		@extend %grid
	&__top
	&__logo,
	&__middle,
	&__phone
		display: table-cell
		vertical-align: middle
	&__logo
		width: 250px
	&__phone
		width: 250px
		text-align: right
	&__middle
		text-align: center
	&__top
		padding: 30px 0
		border-bottom: 1px solid #909090
	&__nav
		@extend %container
	&__burger
		display: none
		&::after
			@extend %icon
	&__bottom
		background-color: #fff
		z-index: 6 !important


.is-sticky .header__bottom
		box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1)

.phone
	font-family: $font1_700
	color: #737373
	text-transform: lowercase
	font-size: 15px
	line-height: 1
	font-weight: 500
	a
		font-size: 25px
		text-decoration: none
		color: #000
		display: block
		font-weight: 600
		margin-top: 5px
		&:hover
			color: #5f89fc


.bage
	text-align: center
	font-size: 14px
	font-weight: 700
	text-transform: uppercase
	line-height: 1
	padding: 10px
	border-radius: 4px
	color: #fff
	background-color: $green
	transition: all .2s
	cursor: pointer
	text-decoration: none
	display: inline-block
	margin: 5px 10px
	border: none
	outline: none
	font-family: $font1_700
	border: 1px solid $green
	&:hover
		transform: scale(1.1)
	&--ghost
		color: #5f89fc
		background-color: transparent
		border-color: #5f89fc

.menu
	font-size: 14px
	font-weight: 600
	text-transform: uppercase
	a,
	span
		display: inline-block
		padding: 15px
		color: inherit
		text-decoration: none
		&:hover
			color: #5f89fc
	span
		cursor: default
	&__list
		display: flex
		align-items: stretch
		justify-content: space-between
		margin-left: -30px
		transform: translateX(15px)
	&__item
		display: inline-block
		&--highlight
			color: #3293ff
		&--hasSub
			position: relative
			.menu__sub
				display: none
			&:hover
				.menu__sub
					display: block
		&.active
			color: $green
			a,
			span
				&:hover
					color: inherit
	&__sub
		position: absolute
		z-index: -1
		left: 50%
		margin-left: -125px
		width: 250px
		box-shadow: 0 25px 15px rgba(0,0,0,.1)
		&-item
			background-color: #fff
			background-clip: padding-box
			a
				display: block
				padding: 5px 15px
				text-transform: initial
				&:hover
					background-color: #3293ff
					color: #fff
			&+&
				border-top: 1px solid transparent
	&__back
		color: $blue
		&::before
			@extend %icon
	&.open
		box-shadow: 0 2px 15px rgba(0,0,0,.1)


.hero
	background-color: #f6f3fe
	padding: 85px 0 50px
	position: relative
	overflow: hidden
	opacity: .99
	&::after
		content: ''
		position: absolute
		z-index: -1
		bottom: -60px
		left: 50%
		margin-left: -1000px
		background-image: url(../img/hero-bg.png)
		width: 463px
		height: 542px
	&__inner
		@extend %grid
	&__left,
	&__right
		@extend %part
		vertical-align: middle
	&__left
		padding-right: 100px
	&__right
		position: relative
		width: 370px
	&__title
		line-height: 1
		font-size: 50px
		color: #244c91
		margin: 0 0 50px
		font-family: $font2_700
		text-transform: uppercase
		strong
			font-size: 42px
			text-transform: lowercase
			display: block
			margin-top: 8px
			color: #2f353f
			font-weight: 400
	&__list
		margin: 50px 0
		font-size: 18px
		li+li
			margin-top: 5px
		li
			padding-left: 27px
			position: relative
			&::before
				content: ''
				width: 10px
				height: 10px
				background-color: $green
				position: absolute
				left: 0
				top: 7px
	&__img
		position: absolute
		z-index: -1
	&__service,
	&__discount
		background-color: #fff
		border-radius: 4px
		display: inline-block
		vertical-align: middle
		box-shadow: 0 10px 20px rgba(#575757, .1)
		width: 100%
		max-width: 270px
		font-size: 18px
		color: #000
		font-family: $font2_500
		position: relative
		overflow: hidden
		margin: 0
	&__service
		padding: 23px 33px
		strong
			font-size: 36px
			display: block
			color: $blue
		img
			position: absolute
			top: 50%
			right: 0
			transform: translateY(-50%)
	&__discount
		margin-left: 60px
		padding: 35px 95px 35px 33px
		strong
			font-size: 36px
			position: absolute
			top: 50%
			right: 15px
			transform: translateY(-50%)
			color: $blue
		&::after
			content: ''
			position: absolute
			top: 50%
			right: -25px
			margin-top: -86px
			background-image: url(../img/hero-discount-bg.png)
			width: 173px
			height: 172px
	&__footer
		margin-top: 45px
	&__phones
		display: inline-block
		vertical-align: middle
	&__phone
		font-size: 30px
		font-weight: 700
		color: #244c91
		text-decoration: none
		margin-left: 50px
		display: block
	&__button
		width: auto
		margin: 0
	&__right
		opacity: .99
		padding: 0 45px
		&::after
			content: ''
			position: absolute
			z-index: -1
			top: -85px
			bottom: -50px
			left: 0
			width: 100%
			opacity: .85
			background-color: #244c91
	&__step
		position: relative
		padding-left: 120px
		min-height: 90px
		flex-direction: column
		justify-content: center
		display: flex
		color: #fff
		font-size: 20px
		line-height: 1.3
		margin: 0 0 20px
		i
			position: absolute
			top: 50%
			margin-top: -45px
			left: 0
			font-style: normal
			width: 90px
			height: 90px
			line-height: 90px
			text-align: center
			font-weight: 700
			font-size: 47px
			&::after
				content: ''
				position: absolute
				top: 50%
				left: 50%
				width: 90px
				height: 90px
				margin-top: -45px
				margin-left: -45px
				background-image: url(../img/circle.png)
				background-size: cover
		&:nth-child(even)
			i::after
				transform: rotate(180deg)
	&__form
		margin-top: 80px
		&-title
			font-size: 24px
			margin: 0 0 40px
			color: #fff
	&--main
		.hero__img
			bottom: 25px
			right: 50%
			margin-right: -710px
	&--metro
		.hero__inner
			position: relative
		.hero__title
			max-width: 500px
			font-size: 43px
			strong
				display: none
		.hero__img
			top: -10px
			left: 500px
		.hero__list
			font-size: 17px
			li
				display: inline-block
				vertical-align: top
				max-width: 31%
			li+li
				margin-left: 2%
				margin-top: 0


.guarantees
	padding: 50px 0
	position: relative
	overflow: hidden
	&::after
		content: ''
		position: absolute
		z-index: -1
		top: 50%
		right: 50%
		margin-right: -1100px
		margin-top: -450px
		width: 430px
		height: 1111px
		background-image: url(../img/guarantees-bg.png)
	&__list
		display: flex
		justify-content: space-between
		margin: -15px
	&__item
		display: inline-block
		width: 30%
		vertical-align: top
		flex: 1 1 30%
		border: 1px solid #c5d4e7
		padding: 30px 30px 200px
		background-repeat: no-repeat
		text-align: center
		background-color: #fff
		margin: 15px
		background-position: center bottom
		&-title
			font-size: 35px
			font-weight: 700
			line-height: 1.2
			color: #000
			margin: 0 0 25px
			font-family: $font2_700
		&-text
			font-size: 20px
			margin: 0
		&--1
			background-image: url(../img/guarantees-img-1.png)
		&--2
			background-image: url(../img/guarantees-img-2.png)
		&--3
			background-image: url(../img/guarantees-img-3.png)
	&__promo
		background-color: #7e6fb4
		background-image: url(../img/guarantees-promo-bg.png), linear-gradient(to right, #7e6fb4 70%, #c5e67d 70%)
		background-repeat: no-repeat
		background-position: 85% 65%
		font-family: $font
		font-weight: 500
		font-size: 35px
		text-transform: uppercase
		color: #fff
		line-height: 1.2
		padding: 35px		
		padding-right: 60%
		margin: 30px 0 0
		position: relative
		overflow: hidden
		small
			display: none
		&-btn
			border-radius: 6px 0 0 6px
			position: absolute
			top: 50%
			right: 0
			margin-top: -26px
			width: auto
			&:hover
				transform: translateX(10px)




.reviews
	position: relative
	background-color: #f6f3fe
	padding: 40px 0
	opacity: .99
	overflow: hidden
	&::after
		content: ''
		position: absolute
		z-index: -1
		top: 50%
		left: 50%
		width: 2028px
		height: 665px
		margin-left: -1000px
		margin-top: -340px
		background-image: url(../img/reviews-bg.png)
	&__title
		color: #244c91
		font-size: 35px
		margin: 0 0 30px
		font-family: $font2_500
		font-weight: 500
		strong
			font-weight: 700
	&__list
		margin: 0 -15px
		position: relative
	&__item
		float: left
		margin: 0 15px
		padding: 35px
		background-color: #fff
	&__text
		font-size: 20px
		margin: 0
	&__stars
		display: block
		margin-bottom: 20px
		font-size: 22px
		i
			display: inline-block
			&::before
				@extend %icon
				content: '\e905'
				color: $green
		i+i
			margin-left: 3px
		&--4
			i:nth-child(-n+4)::before
				content: '\e900'
		&--5
			i:nth-child(-n+5)::before
				content: '\e900'
	&__recomend
		font-size: 24px
		color: #000
		font-weight: 500
		display: block
		margin-bottom: 13px
		&::before
			@extend %icon
			content: '\e904'
			background-color: #5f89fc
			color: #fff
			padding: 5px
			font-size: 20px
			border-radius: 5px
			margin-right: 15px

	.slick-track
		display: flex
	.slick-prev, 
	.slick-next
		font-size: 18px
		color: #2f353f
		line-height: 1
		width: auto
		height: auto
		top: auto
		bottom: 0
		transform: none
		z-index: 1
	.slick-prev, 
	.slick-next
		&::before
			@extend %icon
			content: '\e901' !important
			position: absolute
			top: 3px
			font-size: 15px
			opacity: 1 !important
			color: $blue
			transition: all .1s
	.slick-prev
		left: 15px
		padding-left: 20px
		&::before
			left: 0
			transform: scale(-1,1)
		&:hover
			&::before
				transform: scale(-1,1) translateX(5px)
	.slick-next
		right: 15px
		padding-right: 20px
		&::before
			right: 0
		&:hover
			&::before
				transform: translateX(5px)
	.slick-disabled
		visibility: hidden



.breakdowns
	position: relative
	padding: 40px 0
	opacity: .99
	overflow: hidden
	&::after
		content: ''
		position: absolute
		z-index: -1
		top: 50%
		left: 50%
		width: 2170px
		height: 750px
		margin-left: -1110px
		margin-top: -350px
		background-image: url(../img/breakdowns-bg.png)
	&__title
		color: #244c91
		font-size: 35px
		margin: 0 0 30px
		font-family: $font2_500
		font-weight: 500
		strong
			font-weight: 700
	&__list
		display: flex
		flex-wrap: wrap
		margin: -15px
		justify-content: center
		text-align: center
	&__item
		background-color: #f6f3fe
		margin: 15px
		flex: 1 1 20%
		padding: 25px 15px
		cursor: pointer
		display: inline-block
		vertical-align: middle
		width: 20%
		.icon
			width: 70px
			height: 70px
			fill: $blue
		&:hover
			background-color: $blue
			color: #fff
			.icon
				fill: #fff
	&__name
		margin: 20px 0 0
		font-size: 19px


.hidden
	display: none

.modal
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 8
	overflow: auto
	background-color: rgba(0, 0, 0, 0.5)
	display: none
	&__wrapper
		height: 100%
		width: 100%
	&__inner
		vertical-align: middle
		padding: 15px
	&__box
		width: auto
		background-color: #fff
		display: table
		position: relative
		overflow: hidden
		max-width: 400px
		margin: 0 auto
		padding: 45px
		box-shadow: 0 0 50px rgba(0,0,0,.5)
		text-align: center
	&__close
		position: absolute
		top: 15px
		right: 15px
		width: 20px
		height: 20px
		padding: 0
		border: none
		cursor: pointer
		background-color: transparent
		&::after
			@extend %icon
			content: '\e903'
			font-size: 18px
			color: #244c91
	&__caption
		color: #234c90
		font-size: 24px
		margin: 0 0 25px
	&__text
		margin: 0
		font-size: 18px
	&__form
		&-field
			background-color: #f6f3fe
		&-privacypolicy
			font-size: 12px
			color: #737373
			display: block
			margin-top: 13px
			&:hover
				color: #000
	&__breakdown
		display: inline-block
		font-size: 0
		&-icon
			background-color: #f6f3fe
			width: 110px
			height: 110px
			display: inline-block
			.icon
				max-width: 60px
				height: 100%
				fill: $blue
		&-name
			font-size: 24px
			margin: 28px 0
		&-price
			color: $blue
			font-size: 34px
			margin: 0
			font-weight: 700
	&--breakdowns
		.modal
			&__box
				opacity: .99
				max-width: 810px
				display: flex
				align-items: center
				justify-content: center
				flex-direction: row
				&::before,
				&::after
					content: ''
					position: absolute
					z-index: -1
				&::before
					background-image: url(../img/modal-breakdowns-bg-pic-2.png)
					width: 112px
					height: 112px
					bottom: 0
					left: 0
				&::after
					background-image: url(../img/circle.png)
					width: 635px
					height: 635px
					top: 50%
					margin-top: -317px
					right: -150px
					opacity: .2
			&__left
				padding-right: 22px
				width: 40%
			&__right
				padding-left: 92px
				width: 60%
	&.error
		.modal__caption
			display: none

.pricelist
	position: relative
	background-color: #f6f3fe
	padding: 40px 0
	opacity: .99
	overflow: hidden
	&::after
		content: ''
		position: absolute
		z-index: -1
		top: 0
		left: 50%
		width: 2072px
		height: 696px
		margin-left: -1000px
		background-image: url(../img/pricelist-bg.png)
	&__title
		color: #244c91
		font-size: 35px
		margin: 0 0 10px
		font-family: $font2_500
		font-weight: 500
		strong
			font-weight: 700
	&__disclamer
		font-size: 18px
		margin: 0 0 30px


.table
	&__head
		text-align: center
		display: flex
		flex-direction: column
		.table
			&__cell
				background-color: $green
				color: #fff
				font-size: 28px
				line-height: 1
				padding: 20px
	&__tail
		display: flex
		flex-direction: column
		.table
			&__cell
				&::after
					content: ''
					position: absolute
					top: 0
					left: 20px
					width: calc(100% - 40px)
					height: 1px
					background-color: #dfdfdf
				&:nth-child(2)
					font-weight: 700
					color: #000
			&__row
				&:nth-child(1)
					.table
						&__cell
							&::after
								display: none
				.table
					&__cell
						&:nth-child(1)
							padding-left: 80px
							&::before
								content: ''
								position: absolute
								top: 25px
								left: 18px
								background-image: url(../img/pricelist-table-icon.svg)
								background-size: cover
								width: 90px
								height: 89px

	&__row,
	&__spacer
		display: table
		width: 100%
		table-layout: fixed
	&__cell
		padding: 10px 20px
		background-color: #fff
		font-size: 22px
		display: table-cell
		position: relative
		vertical-align: middle
		&:nth-child(2),
		&:nth-child(3)
			width: 270px
			text-align: center
			border-left: 30px solid transparent
			background-clip: padding-box
		button
			color: $blue
			padding: 12px 30px
			border-radius: 6px
			background-color: transparent
			border: none
			font-size: 18px
			text-transform: uppercase
			margin: 10px
			font-weight: 700
			cursor: pointer
			transition: all .2s
			&:hover
				background-color: $blue
				color: #fff
			&::after
				@extend %icon
		p
			margin: 0
	&__hidden
		display: none
	&__more
		width: 100%
		display: block
		background-color: #fff
		border: none
		font-size: 20px
		font-weight: 700
		color: $blue
		text-transform: uppercase
		padding: 18px 30px
		cursor: pointer
		&::after
			@extend %icon
			content: '\e901'
			display: inline-block
			transform: rotate(90deg) translateX(2px)
			margin-left: 25px



.scheme
	position: relative
	padding: 40px 0 0
	opacity: .99
	&__title
		color: #244c91
		font-size: 35px
		margin: 0 0 10px
		font-family: $font2_500
		font-weight: 500
		strong
			font-weight: 700
	&__disclamer
		font-size: 18px
		margin: 0 0 30px
	&__list
		display: flex
		margin: -15px
		text-align: center
	&__item
		margin: 15px
		border: 1px solid #c5d4e7
		padding: 20px 20px 120px
		flex: 1 1 20%
		overflow: hidden
		position: relative
		display: inline-block
		vertical-align: top
		width: 21%
		&::before
			content: ''
			position: absolute
		&-title
			font-weight: 500
			color: #000
			font-size: 22px
			margin: 10px 0
			font-family: $font2_500
		&-description
			font-size: 18px
			font-family: $font2_500
			margin: 0
		&-icon
			&::before
				@extend %icon
				font-size: 60px
				color: $blue
		&-num
			font-weight: 300
			font-size: 150px
			line-height: .7
			margin: 0
			color: #244c91
			position: absolute
			bottom: -15px
			left: 50%
			transform: translateX(-50%)
		&--1
			&::before
				background-image: url(../img/scheme-item-decor-1.png)
				width: 87px
				height: 87px
				top: 0
				left: 3px
			.scheme__item
				&-icon
					&::before
						content: '\e908'
		&--2
			&::before
				background-image: url(../img/scheme-item-decor-1.png)
				width: 87px
				height: 87px
				transform: rotate(-90deg)
				top: 40px
				right: -20px
			.scheme__item
				&-icon
					&::before
						content: '\e909'
		&--3	
			&::before
				background-image: url(../img/scheme-item-decor-2.png)
				width: 181px
				height: 181px
				transform: rotate(-90deg)
				top: -60px
				right: -120px
			.scheme__item
				&-icon
					&::before
						content: '\e906'
		&--4
			&::before
				background-image: url(../img/scheme-item-decor-2.png)
				width: 181px
				height: 181px
				top: -135px
				left: 50%
				margin-left: -90px
			.scheme__item
				&-icon
					&::before
						content: '\e907'
	&__form
		background-color: #244c91
		padding: 25px 0 25px 35px
		align-items: center
		justify-content: space-between
		display: flex
		overflow: hidden
		margin-top: 30px
		&-step
			display: none
		&-caption
			font-size: 19px
			font-family: $font2_500
			font-weight: 500
			color: #fff
			text-transform: uppercase
			padding-right: 15px
			position: relative
			z-index: 1
			width: 30%
			display: inline-block
			vertical-align: middle
			small
				display: none
		&-field
			max-width: 270px
			margin-left: auto
			z-index: 1
		&-btn
			margin-top: 0
			margin-left: 25px
			border-radius: 6px 0 0 6px
			max-width: 270px
			z-index: 1
		&-discount
			font-size: 70px
			font-weight: 500
			line-height: 1
			margin: 0 35px 0 auto
			color: #fff
			position: relative
			opacity: .99
			display: inline-block
			vertical-align: middle
			&::after
				content: ''
				width: 200px
				height: 200px
				position: absolute
				z-index: -1
				top: 50%
				left: 50%
				margin-top: -100px
				margin-left: -100px
				background-image: url(../img/circle.png)
				background-size: cover






.popular
	position: relative
	padding: 40px 0 0
	opacity: .99
	&__title
		color: #244c91
		font-size: 35px
		margin: 0 0 30px
		font-family: $font2_500
		font-weight: 500
		strong
			font-weight: 700
	&__list
		display: flex
		flex-wrap: wrap
		margin: 1px 0 0 1px
		overflow: visible
	&__item
		text-decoration: none
		color: inherit
		flex: 1 1 25%
		border: 1px solid #c5d4e7
		margin-top: -1px
		margin-left: -1px
		padding: 30px 30px 95px
		flex-direction: column
		display: flex
		position: relative
		overflow: hidden
		&-caption
			font-size: 22px
			color: #244c91
			font-weight: 700
			font-family: $font2_700
			line-height: 1.2
			margin: 0 0 17px
		&-pic
			position: absolute
			left: 240px
			bottom: 10px
		&-services
			font-size: 16px
			li
				padding-left: 25px
				position: relative
				&::before
					content: ''
					position: absolute
					top: 6px
					left: 0
					width: 10px
					height: 10px
					background-color: $green
			li+li
				margin-top: 5px
		&-text
			font-size: 16px
			margin: 0
		&-field
			margin-top: 25px
		&-btn
			font-size: 18px
			padding: 15px
		&-price
			position: absolute
			bottom: 35px
			left: 45px
			font-weight: 700
			font-family: $font2_700
			color: $blue
			font-size: 24px
			margin: 0
			padding: 0 10px
			transition: all .2s
		&-num
			position: absolute
			color: #d3dbe9
			margin: 0
			bottom: -12px
			right: -10px
			font-weight: 700
			font-family: $font2_700
			line-height: .8
			font-size: 99px
		&:hover
			.popular__item-caption
				text-decoration: underline
			.popular__item-price
				background-color: $blue
				color: #fff
		&--1
			flex-basis: 50%
			box-shadow: inset 0 0 0 3px #c5d4e7
			.popular__item-price
				background-color: $blue
				color: #fff
		&--7
			padding: 30px
			border-color: #244c91
			background-color: #244c91
			color: #fff
			.popular__item-caption
				color: inherit


.advantages
	position: relative
	padding: 40px 0
	opacity: .99
	&__title
		color: #244c91
		font-size: 35px
		margin: 0 0 30px
		font-family: $font2_500
		font-weight: 500
		strong
			font-weight: 700
	&__list
		display: flex
		flex-wrap: wrap
		margin: 0 -20px -20px
		text-align: center
	&__item
		flex: 1 1 45%
		margin: 20px
		&-caption
			font-family: $font2_700
			font-weight: 700
			color: #000
			margin: 15px 0
			font-size: 30px
		&-description
			font-size: 18px
			max-width: 80%
			margin: 0 auto
		&-icon
			&::before
				@extend %icon
				font-size: 80px
				color: $blue
		&--1
			.advantages__item-icon::before
				content: '\e90d'
		&--2
			.advantages__item-icon::before
				content: '\e90e'
		&--3
			.advantages__item-icon::before
				content: '\e90f'
		&--4
			.advantages__item-icon::before
				content: '\e90a'
		&--5
			.advantages__item-icon::before
				content: '\e90b'
		&--6
			.advantages__item-icon::before
				content: '\e90c'



.about
	position: relative
	padding: 40px 0
	opacity: .99
	background-color: #f6f3fe
	&__title
		color: #244c91
		font-size: 35px
		margin: 0 0 30px
		font-family: $font2_500
		font-weight: 500
		strong
			font-weight: 700
	&__text
		font-size: 20px
		overflow: auto
		margin: 0
	&__pic
		float: left
		margin: 0 40px 0 0

.contacts
	position: relative
	padding: 40px 0
	&__title
		color: #244c91
		font-size: 35px
		margin: 0 0 30px
		font-family: $font2_500
		font-weight: 500
		strong
			font-weight: 700
	&__text
		font-size: 20px
		overflow: auto
		margin: 0 0 25px
	&__inner
		padding-right: calc(50% + 30px)
		position: relative
	&__map
		position: absolute
		top: 0
		right: 0
		height: calc(100% + 40px)
		width: 50%
		padding-left: 30px
		border: none
	&__item
		color: $blue
		font-size: 22px
		a
			color: inherit
			text-decoration: none
			&:hover
				color: #000
		small
			font-size: 14px
			display: inline-block
			margin-top: 12px
			color: #575757
		&+&
			margin-top: 20px



.footer
	background-color: #244c91
	padding: 20px 0 30px
	color: #fff
	&__top,
	&__form,
	&__small
		display: flex
		align-items: center
	&__phone
		margin-left: auto
		font-family: $font1_700
		text-transform: lowercase
		font-size: 15px
		line-height: 1
		font-weight: 500
		text-align: right
		a
			font-size: 25px
			text-decoration: none
			color: inherit
			display: block
			font-weight: 600
			margin-top: 5px
			&:hover
				color: #74a3f5
	&__form
		margin: 30px 0
		text-align: center
		&-field,
		&-btn
			max-width: 270px
		&-btn
			margin-top: 0
			margin-left: 30px
		&-field
			margin-left: auto
		&-caption
			font-size: 16px
			color: #fff
			margin: 0
			padding-right: 12%
			max-width: 48%
			display: inline-block
			vertical-align: middle
			text-align: left
	&__copy,
	&__privacepolicy
		font-size: 12px
		width: 50%
		display: inline-block
	&__privacepolicy
		text-align: right
		padding-left: 50px
		color: inherit
		text-decoration: none
		&:hover
			text-decoration: underline

.mobileCallback
	display: none

.slick-dotted.slick-slider
	margin-bottom: 0

.slick-list
	overflow: hidden

.slick-dots
	bottom: 0
	position: relative
	font-size: 0
	margin-top: 40px
	li
		margin: 0 10px
		&.slick-active,
		&:hover
			button
				opacity: 1 !important
	button
		background-color: #5f89fc !important
		opacity: .3 !important
		border-radius: 5px
		&::before
			display: none


//ALWAYS END
@import "media"
