@import url(slick-theme.css);
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icons/icomoon.eot?cwhh4a");
  src: url("../fonts/icons/icomoon.eot?cwhh4a#iefix") format("embedded-opentype"), url("../fonts/icons/icomoon.ttf?cwhh4a") format("truetype"), url("../fonts/icons/icomoon.woff?cwhh4a") format("woff"), url("../fonts/icons/icomoon.svg?cwhh4a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.header__burger::after, .reviews__stars i::before, .reviews__recomend::before, .reviews .slick-prev::before,
.reviews .slick-next::before, .modal__close::after, .table__more::after {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #575757;
}

input:-moz-placeholder {
  color: #575757;
}

input::-moz-placeholder {
  color: #575757;
}

input:-ms-input-placeholder {
  color: #575757;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  font-size: 14px;
  background-color: #fff;
  color: #575757;
}

body.fixed {
  overflow: hidden;
}

img {
  max-width: 100%;
  border: none;
  outline: none;
}

a {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input,
textarea,
select {
  font-family: "Montserrat", sans-serif;
}

.container, .header__inner, .header__nav {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__inner, .hero__inner {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.hero__left, .hero__right {
  display: table-cell;
  vertical-align: top;
}

.w-page {
  overflow: hidden;
}

.btn {
  display: inline-block;
  border: none;
  background-color: #5f89fc;
  font-family: "PTRootUI-Bold", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  padding: 15px 30px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
}

.btn:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.field {
  width: 100%;
  color: #010101;
  font-size: 18px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: none;
  padding: 16px;
  font-weight: 400;
}

.field + .field {
  margin-top: 15px;
}

.header__logo, .header__middle, .header__phone {
  display: table-cell;
  vertical-align: middle;
}

.header__logo {
  width: 250px;
}

.header__phone {
  width: 250px;
  text-align: right;
}

.header__middle {
  text-align: center;
}

.header__top {
  padding: 30px 0;
  border-bottom: 1px solid #909090;
}

.header__burger {
  display: none;
}

.header__bottom {
  background-color: #fff;
  z-index: 6 !important;
}

.is-sticky .header__bottom {
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.phone {
  font-family: "InterUI-Bold", sans-serif;
  color: #737373;
  text-transform: lowercase;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
}

.phone a {
  font-size: 25px;
  text-decoration: none;
  color: #000;
  display: block;
  font-weight: 600;
  margin-top: 5px;
}

.bage {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  padding: 10px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  background-color: #01AF4D;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin: 5px 10px;
  border: none;
  outline: none;
  font-family: "InterUI-Bold", sans-serif;
  border: 1px solid #01AF4D;
}

.bage:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.bage--ghost {
  color: #5f89fc;
  background-color: transparent;
  border-color: #5f89fc;
}

.menu {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.menu a,
.menu span {
  display: inline-block;
  padding: 15px;
  color: inherit;
  text-decoration: none;
}

.menu a:hover,
.menu span:hover {
  color: #5f89fc;
}

.menu span {
  cursor: default;
}

.menu__footer {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: -30px;
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.menu__item--highlight {
  color: #3293ff;
}

.menu__item--hasSub {
  position: relative;
}

.menu__item--hasSub .menu__sub {
  display: none;
}

.menu__item--hasSub:hover .menu__sub {
  display: block;
}

.menu__item.active {
  color: #01AF4D;
}

.menu__item.active a:hover,
.menu__item.active span:hover {
  color: inherit;
}

.menu__sub {
  position: absolute;
  left: 50%;
  margin-left: -125px;
  width: 250px;
}

.menu__sub-item a {
  display: block;
  padding: 5px;
}

.menu.open {
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.hero {
  background-color: #f6f3fe;
  padding: 85px 0 50px;
  position: relative;
  overflow: hidden;
  opacity: .99;
}

.hero::after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -60px;
  left: 50%;
  margin-left: -1000px;
  background-image: url(../img/hero-bg.png);
  width: 463px;
  height: 542px;
}

.hero__left, .hero__right {
  vertical-align: middle;
}

.hero__left {
  padding-right: 100px;
}

.hero__right {
  position: relative;
  width: 370px;
}

.hero__title {
  line-height: 1;
  font-size: 50px;
  color: #244c91;
  margin: 0 0 50px;
  font-family: "PTRootUI-Bold", sans-serif;
  text-transform: uppercase;
}

.hero__title strong {
  font-size: 42px;
  text-transform: lowercase;
  display: inline-block;
  margin-top: 8px;
  color: #2f353f;
  font-weight: 400;
}

.hero__list {
  margin: 50px 0;
  font-size: 18px;
}

.hero__list li + li {
  margin-top: 5px;
}

.hero__list li {
  padding-left: 27px;
  position: relative;
}

.hero__list li::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #01AF4D;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -5px;
}

.hero__img {
  position: absolute;
  z-index: -1;
}

.hero__service, .hero__discount {
  background-color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-shadow: 0 10px 20px rgba(87, 87, 87, 0.1);
  box-shadow: 0 10px 20px rgba(87, 87, 87, 0.1);
  width: 100%;
  max-width: 270px;
  font-size: 18px;
  color: #000;
  font-family: "PTRootUI-Medium", sans-serif;
  position: relative;
  overflow: hidden;
}

.hero__service {
  padding: 23px 33px;
}

.hero__service strong {
  font-size: 36px;
  display: block;
  color: #5f89fc;
}

.hero__service img {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hero__discount {
  margin-left: 60px;
  padding: 35px 93px 35px 33px;
}

.hero__discount strong {
  font-size: 36px;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #5f89fc;
}

.hero__discount::after {
  content: url(../img/hero-discount-bg.png);
  position: absolute;
  top: 50%;
  right: -25px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hero__footer {
  margin-top: 45px;
}

.hero__phones {
  display: inline-block;
  vertical-align: middle;
}

.hero__phone {
  font-size: 30px;
  font-weight: 700;
  color: #244c91;
  text-decoration: none;
  margin-left: 50px;
  display: block;
}

.hero__button {
  width: auto;
  margin: 0;
}

.hero__right {
  opacity: .99;
  padding: 0 45px;
}

.hero__right::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -85px;
  bottom: -50px;
  left: 0;
  width: 100%;
  opacity: .85;
  background-color: #244c91;
}

.hero__step {
  position: relative;
  padding-left: 120px;
  min-height: 90px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 20px;
  line-height: 1.3;
  margin: 0 0 20px;
}

.hero__step i {
  position: absolute;
  top: 50%;
  margin-top: -45px;
  left: 0;
  font-style: normal;
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  font-weight: 700;
  font-size: 47px;
}

.hero__step i::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90px;
  height: 90px;
  margin-top: -45px;
  margin-left: -45px;
  background-image: url(../img/step-circle.png);
}

.hero__step:nth-child(even) i::after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.hero__form {
  margin-top: 80px;
}

.hero__form-title {
  font-size: 24px;
  margin: 0 0 40px;
  color: #fff;
}

.hero--main .hero__img {
  bottom: 25px;
  right: 50%;
  margin-right: -710px;
}

.guarantees {
  padding: 50px 0;
  position: relative;
  overflow: hidden;
}

.guarantees::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 50%;
  margin-right: -1100px;
  margin-top: -450px;
  width: 430px;
  height: 1111px;
  background-image: url(../img/guarantees-bg.png);
}

.guarantees__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.guarantees__item {
  -webkit-flex-basis: 360px;
  -ms-flex-preferred-size: 360px;
  flex-basis: 360px;
  border: 1px solid #c5d4e7;
  padding: 30px 30px 200px;
  background-repeat: no-repeat;
  text-align: center;
  background-color: #fff;
}

.guarantees__item-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  margin: 0 0 25px;
  font-family: "PTRootUI-Bold", sans-serif;
}

.guarantees__item-text {
  font-size: 20px;
  margin: 0;
}

.guarantees__item--1 {
  background-image: url(../img/guarantees-img-1.png);
  background-position: center bottom;
}

.guarantees__item--2 {
  background-image: url(../img/guarantees-img-2.png);
  background-position: center bottom;
}

.guarantees__item--3 {
  background-image: url(../img/guarantees-img-3.png);
  background-position: center bottom;
}

.guarantees__promo {
  background-color: #7e6fb4;
  background-image: url(../img/guarantees-promo-bg.png), -webkit-gradient(linear, left top, right top, color-stop(70%, #7e6fb4), color-stop(70%, #c5e67d));
  background-image: url(../img/guarantees-promo-bg.png), -webkit-linear-gradient(left, #7e6fb4 70%, #c5e67d 70%);
  background-image: url(../img/guarantees-promo-bg.png), -o-linear-gradient(left, #7e6fb4 70%, #c5e67d 70%);
  background-image: url(../img/guarantees-promo-bg.png), linear-gradient(to right, #7e6fb4 70%, #c5e67d 70%);
  background-repeat: no-repeat;
  background-position: 85% 65%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 35px;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.2;
  padding: 35px;
  padding-right: 60%;
  margin: 30px 0 0;
  position: relative;
  overflow: hidden;
}

.guarantees__promo small {
  display: none;
}

.guarantees__promo-btn {
  -webkit-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -26px;
  width: auto;
}

.guarantees__promo-btn:hover {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

.reviews {
  position: relative;
  background-color: #f6f3fe;
  padding: 40px 0;
  opacity: .99;
  overflow: hidden;
}

.reviews::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 2028px;
  height: 665px;
  margin-left: -1000px;
  margin-top: -340px;
  background-image: url(../img/reviews-bg.png);
}

.reviews__title {
  color: #244c91;
  font-size: 35px;
  margin: 0 0 30px;
  font-family: "PTRootUI-Medium", sans-serif;
  font-weight: 500;
}

.reviews__title strong {
  font-weight: 700;
}

.reviews__list {
  margin: 0 -30px;
  position: relative;
}

.reviews__item {
  float: left;
  margin: 0 30px;
  padding: 35px;
  background-color: #fff;
}

.reviews__text {
  font-size: 20px;
  margin: 0;
}

.reviews__stars {
  display: block;
  margin-bottom: 20px;
}

.reviews__stars i {
  display: inline-block;
}

.reviews__stars i::before {
  content: '\e905';
  font-size: 22px;
  color: #01AF4D;
}

.reviews__stars i + i {
  margin-left: 3px;
}

.reviews__stars--4 i:nth-child(-n+4)::before {
  content: '\e900';
}

.reviews__stars--5 i:nth-child(-n+5)::before {
  content: '\e900';
}

.reviews__recomend {
  font-size: 24px;
  color: #000;
  font-weight: 500;
  display: block;
  margin-bottom: 13px;
}

.reviews__recomend::before {
  content: '\e904';
  background-color: #5f89fc;
  color: #fff;
  padding: 5px;
  font-size: 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-right: 15px;
}

.reviews .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.reviews .slick-list {
  overflow: hidden;
}

.reviews .slick-dots {
  bottom: 0;
  position: relative;
  font-size: 0;
  margin-top: 40px;
}

.reviews .slick-dots li {
  margin: 0 10px;
}

.reviews .slick-dots li.slick-active button, .reviews .slick-dots li:hover button {
  opacity: 1;
}

.reviews .slick-dots button {
  background-color: #5f89fc;
  opacity: .3;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.reviews .slick-dots button::before {
  display: none;
}

.reviews .slick-prev,
.reviews .slick-next {
  font-size: 18px;
  color: #2f353f;
  line-height: 1;
  width: auto;
  height: auto;
  top: auto;
  bottom: 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  z-index: 1;
}

.reviews .slick-prev::before,
.reviews .slick-next::before {
  content: '\e901' !important;
  position: absolute;
  top: 3px;
  font-size: 15px;
  opacity: 1 !important;
  color: #5f89fc;
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
}

.reviews .slick-prev {
  left: 30px;
  padding-left: 20px;
}

.reviews .slick-prev::before {
  left: 0;
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.reviews .slick-prev:hover::before {
  -webkit-transform: scale(-1, 1) translateX(5px);
  -ms-transform: scale(-1, 1) translateX(5px);
  transform: scale(-1, 1) translateX(5px);
}

.reviews .slick-next {
  right: 30px;
  padding-right: 20px;
}

.reviews .slick-next::before {
  right: 0;
}

.reviews .slick-next:hover::before {
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}

.breakdowns {
  position: relative;
  padding: 40px 0;
  opacity: .99;
  overflow: hidden;
}

.breakdowns::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 2170px;
  height: 750px;
  margin-left: -1110px;
  margin-top: -350px;
  background-image: url(../img/breakdowns-bg.png);
}

.breakdowns__title {
  color: #244c91;
  font-size: 35px;
  margin: 0 0 30px;
  font-family: "PTRootUI-Medium", sans-serif;
  font-weight: 500;
}

.breakdowns__title strong {
  font-weight: 700;
}

.breakdowns__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.breakdowns__item {
  background-color: #f6f3fe;
  margin: 15px;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 20%;
  -ms-flex: 1 1 20%;
  flex: 1 1 20%;
  padding: 25px 15px;
  cursor: pointer;
}

.breakdowns__item .icon {
  width: 70px;
  height: 70px;
  fill: #5f89fc;
}

.breakdowns__item:hover {
  background-color: #5f89fc;
  color: #fff;
}

.breakdowns__item:hover .icon {
  fill: #fff;
}

.breakdowns__name {
  margin: 20px 0 0;
  font-size: 19px;
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal__wrapper {
  height: 100%;
  width: 100%;
}

.modal__inner {
  vertical-align: middle;
  padding: 15px;
}

.modal__box {
  width: auto;
  background-color: #fff;
  display: table;
  position: relative;
  overflow: hidden;
  max-width: 400px;
  margin: 0 auto;
  padding: 45px;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modal__left, .modal__right {
  width: 50%;
}

.modal__left {
  padding-right: 22px;
}

.modal__right {
  padding-left: 22px;
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.modal__close::after {
  content: '\e903';
  font-size: 18px;
  color: #244c91;
}

.modal__caption {
  color: #234c90;
  font-size: 24px;
  margin: 0 0 25px;
}

.modal__form-field {
  background-color: #f6f3fe;
}

.modal__form-privacypolicy {
  font-size: 12px;
  color: #737373;
  display: block;
  margin-top: 13px;
}

.modal__form-privacypolicy:hover {
  color: #000;
}

.modal__breakdown {
  display: inline-block;
  font-size: 0;
}

.modal__breakdown-icon {
  background-color: #f6f3fe;
  width: 110px;
  height: 110px;
  display: inline-block;
}

.modal__breakdown-icon .icon {
  max-width: 60px;
  height: 100%;
  fill: #5f89fc;
}

.modal__breakdown-name {
  font-size: 24px;
  margin: 28px 0;
}

.modal__breakdown-price {
  color: #5f89fc;
  font-size: 34px;
  margin: 0;
  font-weight: 700;
}

.modal--breakdowns .modal__box {
  opacity: .99;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 810px;
}

.modal--breakdowns .modal__box::before, .modal--breakdowns .modal__box::after {
  content: '';
  position: absolute;
  z-index: -1;
}

.modal--breakdowns .modal__box::before {
  background-image: url(../img/modal-breakdowns-bg-pic-2.png);
  width: 112px;
  height: 112px;
  bottom: 0;
  left: 0;
}

.modal--breakdowns .modal__box::after {
  background-image: url(../img/modal-breakdowns-bg-pic-1.png);
  width: 635px;
  height: 635px;
  top: 50%;
  margin-top: -317px;
  right: -150px;
}

.pricelist {
  position: relative;
  background-color: #f6f3fe;
  padding: 40px 0;
  opacity: .99;
  overflow: hidden;
}

.pricelist::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  width: 2072px;
  height: 696px;
  margin-left: -1000px;
  background-image: url(../img/pricelist-bg.png);
}

.pricelist__title {
  color: #244c91;
  font-size: 35px;
  margin: 0 0 10px;
  font-family: "PTRootUI-Medium", sans-serif;
  font-weight: 500;
}

.pricelist__title strong {
  font-weight: 700;
}

.pricelist__disclamer {
  font-size: 18px;
  margin: 0 0 30px;
}

.table__head {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.table__head .table__cell {
  background-color: #01AF4D;
  color: #fff;
  font-size: 28px;
  line-height: 1;
  padding: 20px;
}

.table__tail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.table__tail .table__cell::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20px;
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  height: 1px;
  background-color: #dfdfdf;
}

.table__tail .table__cell:nth-child(2) {
  font-weight: 700;
  color: #000;
}

.table__row, .table__spacer {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table__spacer .table__cell::after {
  display: none;
}

.table__cell {
  padding: 10px 20px;
  background-color: #fff;
  font-size: 22px;
  display: table-cell;
  position: relative;
  vertical-align: middle;
}

.table__cell:nth-child(2), .table__cell:nth-child(3) {
  width: 270px;
  text-align: center;
  border-left: 30px solid transparent;
  background-clip: padding-box;
}

.table__cell button {
  color: #5f89fc;
  padding: 12px 30px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  margin: 10px;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.table__cell button:hover {
  background-color: #5f89fc;
  color: #fff;
}

.table__hidden {
  display: none;
}

.table__more {
  width: 100%;
  display: block;
  background-color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: #5f89fc;
  text-transform: uppercase;
  padding: 18px 30px;
  cursor: pointer;
}

.table__more::after {
  content: '\e901';
  display: inline-block;
  -webkit-transform: rotate(90deg) translateX(2px);
  -ms-transform: rotate(90deg) translateX(2px);
  transform: rotate(90deg) translateX(2px);
  margin-left: 25px;
}

.scheme {
  position: relative;
  padding: 40px 0;
  opacity: .99;
}

.scheme__title {
  color: #244c91;
  font-size: 35px;
  margin: 0 0 10px;
  font-family: "PTRootUI-Medium", sans-serif;
  font-weight: 500;
}

.scheme__title strong {
  font-weight: 700;
}

.scheme__disclamer {
  font-size: 18px;
  margin: 0 0 30px;
}

/* Desktop-frist */
@media only screen and (max-width: 991px) {
  .hide-on-mobile {
    display: none !important;
  }
  .container {
    max-width: 500px;
  }
  .header {
    background-color: #fff;
    z-index: 5;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }
  .header__inner, .header__logo, .header__phone {
    display: block;
    width: auto;
  }
  .header__middle {
    display: none;
  }
  .header__top {
    padding: 0;
    border: none;
  }
  .header__inner {
    padding: 0;
  }
  .header__logo {
    padding: 15px;
    font-size: 0;
  }
  .header__nav {
    padding: 0;
  }
  .header__burger {
    position: absolute;
    z-index: 1;
    display: block;
    background-color: transparent;
    top: 15px;
    right: 15px;
    border: none;
    padding: 0;
    font-size: 25px;
    color: #5f89fc;
  }
  .header__burger::after {
    content: '\e902';
  }
  .header__burger.open::after {
    content: '\e903';
  }
  .header .logo {
    max-width: 190px;
  }
  .header .phone {
    text-align: center;
    font-size: 0;
    padding: 8px;
    background-color: #63af55;
  }
  .header .phone a {
    font-size: 20px;
    color: #fff;
    margin: 0;
  }
  .menu {
    display: none;
    padding: 20px 0;
  }
  .menu__list {
    display: block;
    margin: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .menu__item a, .menu__item span {
    display: block;
    padding: 10px 15px;
    background-color: #eef2fd;
  }
  .menu__item + .menu__item {
    margin-top: 5px;
  }
  .menu__item--hasSub:hover .menu__sub {
    display: none;
  }
  .menu__sub {
    position: relative;
    left: auto;
    margin-left: auto;
    width: auto;
  }
  .menu__sub-item a {
    padding: 10px 15px;
    background-color: #eef2fd;
  }
  .menu__sub-item + .menu__sub-item {
    margin-top: 5px;
  }
  .menu__footer {
    display: block;
    padding: 0 15px 20px;
  }
}
