@import url(slick-theme.css);
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icons/icomoon.eot?cwhh4a");
  src: url("../fonts/icons/icomoon.eot?cwhh4a#iefix") format("embedded-opentype"), url("../fonts/icons/icomoon.ttf?cwhh4a") format("truetype"), url("../fonts/icons/icomoon.woff?cwhh4a") format("woff"), url("../fonts/icons/icomoon.svg?cwhh4a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.header__burger::after, .menu__back::before, .hero__service-icon::before, .reviews__stars i::before, .reviews__recomend::before, .reviews .slick-prev::before,
.reviews .slick-next::before, .modal__close::after, .table__cell button::after, .table__more::after, .scheme__item-icon::before, .advantages__item-icon::before {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #575757;
}

input:-moz-placeholder {
  color: #575757;
}

input::-moz-placeholder {
  color: #575757;
}

input:-ms-input-placeholder {
  color: #575757;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  font-size: 14px;
  background-color: #fff;
  color: #575757;
}

body.fixed {
  overflow: hidden;
}

img {
  max-width: 100%;
  border: none;
  outline: none;
}

a {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input,
textarea,
select {
  font-family: "Montserrat", sans-serif;
}

.container, .header__inner, .header__nav {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__inner, .hero__inner {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.hero__left, .hero__right {
  display: table-cell;
  vertical-align: top;
}

.w-page {
  overflow: hidden;
}

.btn {
  display: inline-block;
  border: none;
  background-color: #5f89fc;
  font-family: "PTRootUI-Bold", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  padding: 15px 30px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
}

.btn:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.btn[disabled] {
  -webkit-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  transform: scale(1) !important;
  cursor: default;
}

.field {
  width: 100%;
  color: #010101;
  font-size: 16px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: none;
  padding: 16px;
  font-weight: 400;
}

.field + .field {
  margin-top: 15px;
}

.header {
  position: relative;
  z-index: 1;
  height: auto !important;
}

.header__logo, .header__middle, .header__phone {
  display: table-cell;
  vertical-align: middle;
}

.header__logo {
  width: 250px;
}

.header__phone {
  width: 250px;
  text-align: right;
}

.header__middle {
  text-align: center;
}

.header__top {
  padding: 30px 0;
  border-bottom: 1px solid #909090;
}

.header__burger {
  display: none;
}

.header__bottom {
  background-color: #fff;
  z-index: 6 !important;
}

.is-sticky .header__bottom {
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.phone {
  font-family: "InterUI-Bold", sans-serif;
  color: #737373;
  text-transform: lowercase;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
}

.phone a {
  font-size: 25px;
  text-decoration: none;
  color: #000;
  display: block;
  font-weight: 600;
  margin-top: 5px;
}

.phone a:hover {
  color: #5f89fc;
}

.bage {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  padding: 10px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  background-color: #01AF4D;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin: 5px 10px;
  border: none;
  outline: none;
  font-family: "InterUI-Bold", sans-serif;
  border: 1px solid #01AF4D;
}

.bage:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.bage--ghost {
  color: #5f89fc;
  background-color: transparent;
  border-color: #5f89fc;
}

.menu {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.menu a,
.menu span {
  display: inline-block;
  padding: 15px;
  color: inherit;
  text-decoration: none;
}

.menu a:hover,
.menu span:hover {
  color: #5f89fc;
}

.menu span {
  cursor: default;
}

.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: -30px;
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.menu__item {
  display: inline-block;
}

.menu__item--highlight {
  color: #3293ff;
}

.menu__item--hasSub {
  position: relative;
}

.menu__item--hasSub .menu__sub {
  display: none;
}

.menu__item--hasSub:hover .menu__sub {
  display: block;
}

.menu__item.active {
  color: #01AF4D;
}

.menu__item.active a:hover,
.menu__item.active span:hover {
  color: inherit;
}

.menu__sub {
  position: absolute;
  z-index: -1;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  -webkit-box-shadow: 0 25px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 25px 15px rgba(0, 0, 0, 0.1);
}

.menu__sub-item {
  background-color: #fff;
  background-clip: padding-box;
}

.menu__sub-item a {
  display: block;
  padding: 5px 15px;
  text-transform: initial;
}

.menu__sub-item a:hover {
  background-color: #3293ff;
  color: #fff;
}

.menu__sub-item.active {
  background-color: #3293ff;
  color: #fff;
}

.menu__sub-item + .menu__sub-item {
  border-top: 1px solid transparent;
}

.menu__back {
  color: #5f89fc;
}

.menu.open {
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.hero {
  background-color: #f6f3fe;
  padding: 85px 0 50px;
  position: relative;
  overflow: hidden;
  opacity: .99;
}

.hero::after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -60px;
  left: 50%;
  margin-left: -1000px;
  background-image: url(../img/hero-bg.png);
  width: 463px;
  height: 542px;
}

.hero__left, .hero__right {
  vertical-align: middle;
}

.hero__left {
  padding-right: 100px;
}

.hero__right {
  position: relative;
  width: 370px;
}

.hero__title {
  line-height: 1;
  font-size: 50px;
  color: #244c91;
  margin: 0 0 50px;
  font-family: "PTRootUI-Bold", sans-serif;
  text-transform: uppercase;
}

.hero__title strong {
  font-size: 42px;
  text-transform: lowercase;
  display: block;
  margin-top: 8px;
  color: #2f353f;
  font-weight: 400;
}

.hero__list {
  margin: 50px 0;
  font-size: 18px;
}

.hero__list li + li {
  margin-top: 5px;
}

.hero__list li {
  padding-left: 27px;
  position: relative;
}

.hero__list li::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #01AF4D;
  position: absolute;
  left: 0;
  top: 7px;
}

.hero__img {
  position: absolute;
  z-index: -1;
}

.hero__service, .hero__discount {
  background-color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-shadow: 0 10px 20px rgba(87, 87, 87, 0.1);
  box-shadow: 0 10px 20px rgba(87, 87, 87, 0.1);
  width: 100%;
  max-width: 270px;
  font-size: 18px;
  color: #000;
  font-family: "PTRootUI-Medium", sans-serif;
  position: relative;
  overflow: hidden;
  margin: 0;
}

.hero__service {
  padding: 23px 33px;
}

.hero__service strong {
  font-size: 36px;
  display: block;
  color: #5f89fc;
}

.hero__service img {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hero__service-icon {
  position: absolute;
  top: 50%;
  right: -20px;
  margin-top: -30px;
}

.hero__service-icon::before {
  font-size: 60px;
  color: #5f89fc;
}

.hero__service-icon--1::before {
  content: '\e910';
}

.hero__service-icon--2::before {
  content: '\e910';
}

.hero__service-icon--3::before {
  content: '\e915';
}

.hero__service-icon--4::before {
  content: '\e912';
}

.hero__service-icon--5::before {
  content: '\e91a';
}

.hero__service-icon--6::before {
  content: '\e919';
}

.hero__service-icon--7 {
  right: -6px;
}

.hero__service-icon--7::before {
  content: '\e913';
}

.hero__discount {
  margin-left: 60px;
  padding: 35px 95px 35px 33px;
}

.hero__discount strong {
  font-size: 36px;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #5f89fc;
}

.hero__discount::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -25px;
  margin-top: -86px;
  background-image: url(../img/hero-discount-bg.png);
  width: 173px;
  height: 172px;
}

.hero__footer {
  margin-top: 45px;
}

.hero__phones {
  display: inline-block;
  vertical-align: middle;
}

.hero__phone {
  font-size: 30px;
  font-weight: 700;
  color: #244c91;
  text-decoration: none;
  margin-left: 50px;
  display: block;
}

.hero__button {
  width: auto;
  margin: 0;
}

.hero__right {
  opacity: .99;
  padding: 0 45px;
}

.hero__right::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -85px;
  bottom: -50px;
  left: 0;
  width: 100%;
  opacity: .85;
  background-color: #244c91;
}

.hero__step {
  position: relative;
  padding-left: 120px;
  min-height: 90px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 20px;
  line-height: 1.3;
  margin: 0 0 20px;
}

.hero__step i {
  position: absolute;
  top: 50%;
  margin-top: -45px;
  left: 0;
  font-style: normal;
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  font-weight: 700;
  font-size: 47px;
}

.hero__step i::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90px;
  height: 90px;
  margin-top: -45px;
  margin-left: -45px;
  background-image: url(../img/circle.png);
  -webkit-background-size: cover;
  background-size: cover;
}

.hero__step:nth-child(even) i::after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.hero__form {
  margin-top: 80px;
}

.hero__form-title {
  font-size: 24px;
  margin: 0 0 40px;
  color: #fff;
}

.hero--main .hero__img {
  bottom: 25px;
  right: 50%;
  margin-right: -710px;
}

.hero--single .hero__img {
  top: auto !important;
  left: auto !important;
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
}

.hero--single .hero__service {
  max-width: none;
  width: auto;
  padding-right: 70px;
}

.hero--single-1 .hero__img, .hero--single-2 .hero__img, .hero--single-8 .hero__img, .hero--single-9 .hero__img, .hero--single-12 .hero__img, .hero--single-13 .hero__img {
  bottom: 25px;
  right: 50%;
  margin-right: -750px;
}

.hero--single-3 .hero__img, .hero--single-10 .hero__img {
  bottom: 25px;
  right: 50%;
  margin-right: -550px;
}

.hero--single-4 .hero__img {
  bottom: 120px;
  right: 50%;
  margin-right: -650px;
}

.hero--single-5 .hero__img {
  bottom: 120px;
  right: 50%;
  margin-right: -550px;
}

.hero--single-6 .hero__img {
  bottom: 20px;
  right: 50%;
  margin-right: -420px;
}

.hero--single-7 .hero__img {
  bottom: 80px;
  right: 50%;
  margin-right: -500px;
}

.hero--single-11 .hero__img {
  bottom: 85px;
  right: 50%;
  margin-right: -450px;
}

.hero--metro .hero__inner {
  position: relative;
}

.hero--metro .hero__title {
  max-width: 500px;
  font-size: 43px;
}

.hero--metro .hero__title strong {
  display: none;
}

.hero--metro .hero__title .js-metro {
  display: block;
}

.hero--metro .hero__img {
  top: -10px;
  left: 500px;
}

.hero--metro .hero__list {
  font-size: 17px;
}

.hero--metro .hero__list li {
  display: inline-block;
  vertical-align: top;
  max-width: 31%;
}

.hero--metro .hero__list li + li {
  margin-left: 2%;
  margin-top: 0;
}

.guarantees {
  padding: 50px 0;
  position: relative;
  overflow: hidden;
}

.guarantees::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 50%;
  margin-right: -1100px;
  margin-top: -450px;
  width: 430px;
  height: 1111px;
  background-image: url(../img/guarantees-bg.png);
}

.guarantees__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: -15px;
}

.guarantees__item {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 30%;
  -ms-flex: 1 1 30%;
  flex: 1 1 30%;
  border: 1px solid #c5d4e7;
  padding: 30px 30px 200px;
  background-repeat: no-repeat;
  text-align: center;
  background-color: #fff;
  margin: 15px;
  background-position: center bottom;
}

.guarantees__item-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  margin: 0 0 25px;
  font-family: "PTRootUI-Bold", sans-serif;
}

.guarantees__item-text {
  font-size: 20px;
  margin: 0;
}

.guarantees__item--1 {
  background-image: url(../img/guarantees-img-1.png);
}

.guarantees__item--2 {
  background-image: url(../img/guarantees-img-2.png);
}

.guarantees__item--3 {
  background-image: url(../img/guarantees-img-3.png);
}

.guarantees__promo {
  background-color: #7e6fb4;
  background-image: url(../img/guarantees-promo-bg.png), -webkit-gradient(linear, left top, right top, color-stop(70%, #7e6fb4), color-stop(70%, #c5e67d));
  background-image: url(../img/guarantees-promo-bg.png), -webkit-linear-gradient(left, #7e6fb4 70%, #c5e67d 70%);
  background-image: url(../img/guarantees-promo-bg.png), -o-linear-gradient(left, #7e6fb4 70%, #c5e67d 70%);
  background-image: url(../img/guarantees-promo-bg.png), linear-gradient(to right, #7e6fb4 70%, #c5e67d 70%);
  background-repeat: no-repeat;
  background-position: 85% 65%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 35px;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.2;
  padding: 35px;
  padding-right: 60%;
  margin: 30px 0 0;
  position: relative;
  overflow: hidden;
}

.guarantees__promo small {
  display: none;
}

.guarantees__promo-btn {
  -webkit-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -26px;
  width: auto;
}

.guarantees__promo-btn:hover {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

.reviews {
  position: relative;
  background-color: #f6f3fe;
  padding: 40px 0;
  opacity: .99;
  overflow: hidden;
}

.reviews::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 2028px;
  height: 665px;
  margin-left: -1000px;
  margin-top: -340px;
  background-image: url(../img/reviews-bg.png);
}

.reviews__title {
  color: #244c91;
  font-size: 35px;
  margin: 0 0 30px;
  font-family: "PTRootUI-Medium", sans-serif;
  font-weight: 500;
}

.reviews__title strong {
  font-weight: 700;
}

.reviews__list {
  margin: 0 -15px;
  position: relative;
}

.reviews__item {
  float: left;
  margin: 0 15px;
  padding: 35px;
  background-color: #fff;
}

.reviews__text {
  font-size: 20px;
  margin: 0;
}

.reviews__stars {
  display: block;
  margin-bottom: 20px;
  font-size: 22px;
}

.reviews__stars i {
  display: inline-block;
}

.reviews__stars i::before {
  content: '\e905';
  color: #01AF4D;
}

.reviews__stars i + i {
  margin-left: 3px;
}

.reviews__stars--4 i:nth-child(-n+4)::before {
  content: '\e900';
}

.reviews__stars--5 i:nth-child(-n+5)::before {
  content: '\e900';
}

.reviews__recomend {
  font-size: 24px;
  color: #000;
  font-weight: 500;
  display: block;
  margin-bottom: 13px;
}

.reviews__recomend::before {
  content: '\e904';
  background-color: #5f89fc;
  color: #fff;
  padding: 5px;
  font-size: 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-right: 15px;
}

.reviews .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.reviews .slick-prev,
.reviews .slick-next {
  font-size: 18px;
  color: #2f353f;
  line-height: 1;
  width: auto;
  height: auto;
  top: auto;
  bottom: 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  z-index: 1;
}

.reviews .slick-prev::before,
.reviews .slick-next::before {
  content: '\e901' !important;
  position: absolute;
  top: 3px;
  font-size: 15px;
  opacity: 1 !important;
  color: #5f89fc;
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
}

.reviews .slick-prev {
  left: 15px;
  padding-left: 20px;
}

.reviews .slick-prev::before {
  left: 0;
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.reviews .slick-prev:hover::before {
  -webkit-transform: scale(-1, 1) translateX(5px);
  -ms-transform: scale(-1, 1) translateX(5px);
  transform: scale(-1, 1) translateX(5px);
}

.reviews .slick-next {
  right: 15px;
  padding-right: 20px;
}

.reviews .slick-next::before {
  right: 0;
}

.reviews .slick-next:hover::before {
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}

.reviews .slick-disabled {
  visibility: hidden;
}

.breakdowns {
  position: relative;
  padding: 40px 0;
  opacity: .99;
  overflow: hidden;
}

.breakdowns::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 2170px;
  height: 750px;
  margin-left: -1110px;
  margin-top: -350px;
  background-image: url(../img/breakdowns-bg.png);
}

.breakdowns__title {
  color: #244c91;
  font-size: 35px;
  margin: 0 0 30px;
  font-family: "PTRootUI-Medium", sans-serif;
  font-weight: 500;
}

.breakdowns__title strong {
  font-weight: 700;
}

.breakdowns__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.breakdowns__item {
  background-color: #f6f3fe;
  margin: 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 20%;
  -ms-flex: 1 1 20%;
  flex: 1 1 20%;
  padding: 25px 15px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  width: 20%;
}

.breakdowns__item .icon {
  width: 70px;
  height: 70px;
  fill: #5f89fc;
}

.breakdowns__item:hover {
  background-color: #5f89fc;
  color: #fff;
}

.breakdowns__item:hover .icon {
  fill: #fff;
}

.breakdowns__name {
  margin: 20px 0 0;
  font-size: 19px;
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal__wrapper {
  height: 100%;
  width: 100%;
}

.modal__inner {
  vertical-align: middle;
  padding: 15px;
}

.modal__box {
  width: auto;
  background-color: #fff;
  display: table;
  position: relative;
  overflow: hidden;
  max-width: 400px;
  margin: 0 auto;
  padding: 45px;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.modal__close::after {
  content: '\e903';
  font-size: 18px;
  color: #244c91;
}

.modal__caption {
  color: #234c90;
  font-size: 24px;
  margin: 0 0 25px;
}

.modal__text {
  margin: 0;
  font-size: 18px;
}

.modal__form-field {
  background-color: #f6f3fe;
}

.modal__form-privacypolicy {
  font-size: 12px;
  color: #737373;
  display: block;
  margin-top: 13px;
}

.modal__form-privacypolicy:hover {
  color: #000;
}

.modal__breakdown {
  display: inline-block;
  font-size: 0;
}

.modal__breakdown-icon {
  background-color: #f6f3fe;
  width: 110px;
  height: 110px;
  display: inline-block;
}

.modal__breakdown-icon .icon {
  max-width: 60px;
  height: 100%;
  fill: #5f89fc;
}

.modal__breakdown-name {
  font-size: 24px;
  margin: 28px 0;
}

.modal__breakdown-price {
  color: #5f89fc;
  font-size: 34px;
  margin: 0;
  font-weight: 700;
}

.modal--breakdowns .modal__box {
  opacity: .99;
  max-width: 810px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.modal--breakdowns .modal__box::before, .modal--breakdowns .modal__box::after {
  content: '';
  position: absolute;
  z-index: -1;
}

.modal--breakdowns .modal__box::before {
  background-image: url(../img/modal-breakdowns-bg-pic-2.png);
  width: 112px;
  height: 112px;
  bottom: 0;
  left: 0;
}

.modal--breakdowns .modal__box::after {
  background-image: url(../img/circle.png);
  width: 635px;
  height: 635px;
  top: 50%;
  margin-top: -317px;
  right: -150px;
  opacity: .2;
}

.modal--breakdowns .modal__left {
  padding-right: 22px;
  width: 40%;
}

.modal--breakdowns .modal__right {
  padding-left: 92px;
  width: 60%;
}

.modal.error .modal__caption {
  display: none;
}

.pricelist {
  position: relative;
  background-color: #f6f3fe;
  padding: 40px 0;
  opacity: .99;
  overflow: hidden;
}

.pricelist::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  width: 2072px;
  height: 696px;
  margin-left: -1000px;
  background-image: url(../img/pricelist-bg.png);
}

.pricelist__title {
  color: #244c91;
  font-size: 35px;
  margin: 0 0 10px;
  font-family: "PTRootUI-Medium", sans-serif;
  font-weight: 500;
}

.pricelist__title strong {
  font-weight: 700;
}

.pricelist__disclamer {
  font-size: 18px;
  margin: 0 0 30px;
}

.table__head {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.table__head .table__cell {
  background-color: #01AF4D;
  color: #fff;
  font-size: 28px;
  line-height: 1;
  padding: 20px;
}

.table__tail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.table__tail .table__cell::after {
  content: '';
  position: absolute;
  top: 0;
  left: 20px;
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  height: 1px;
  background-color: #dfdfdf;
}

.table__tail .table__cell:nth-child(2) {
  font-weight: 700;
  color: #000;
}

.table__tail .table__row:nth-child(1) .table__cell::after {
  display: none;
}

.table__tail .table__row .table__cell:nth-child(1) {
  padding-left: 80px;
}

.table__tail .table__row .table__cell:nth-child(1)::before {
  content: '';
  position: absolute;
  top: 25px;
  left: 18px;
  background-image: url(../img/pricelist-table-icon.svg);
  -webkit-background-size: cover;
  background-size: cover;
  width: 90px;
  height: 89px;
}

.table__row, .table__spacer {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table__cell {
  padding: 10px 20px;
  background-color: #fff;
  font-size: 22px;
  display: table-cell;
  position: relative;
  vertical-align: middle;
}

.table__cell:nth-child(2), .table__cell:nth-child(3) {
  width: 270px;
  text-align: center;
  border-left: 30px solid transparent;
  background-clip: padding-box;
}

.table__cell button {
  color: #5f89fc;
  padding: 12px 30px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  margin: 10px;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.table__cell button:hover {
  background-color: #5f89fc;
  color: #fff;
}

.table__cell p {
  margin: 0;
}

.table__hidden {
  display: none;
}

.table__more {
  width: 100%;
  display: block;
  background-color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: #5f89fc;
  text-transform: uppercase;
  padding: 18px 30px;
  cursor: pointer;
}

.table__more::after {
  content: '\e901';
  display: inline-block;
  -webkit-transform: rotate(90deg) translateX(2px);
  -ms-transform: rotate(90deg) translateX(2px);
  transform: rotate(90deg) translateX(2px);
  margin-left: 25px;
}

.scheme {
  position: relative;
  padding: 40px 0 0;
  opacity: .99;
}

.scheme__title {
  color: #244c91;
  font-size: 35px;
  margin: 0 0 10px;
  font-family: "PTRootUI-Medium", sans-serif;
  font-weight: 500;
}

.scheme__title strong {
  font-weight: 700;
}

.scheme__disclamer {
  font-size: 18px;
  margin: 0 0 30px;
}

.scheme__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: -15px;
  text-align: center;
}

.scheme__item {
  margin: 15px;
  border: 1px solid #c5d4e7;
  padding: 20px 20px 120px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 20%;
  -ms-flex: 1 1 20%;
  flex: 1 1 20%;
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 21%;
}

.scheme__item::before {
  content: '';
  position: absolute;
}

.scheme__item-title {
  font-weight: 500;
  color: #000;
  font-size: 22px;
  margin: 10px 0;
  font-family: "PTRootUI-Medium", sans-serif;
}

.scheme__item-description {
  font-size: 18px;
  font-family: "PTRootUI-Medium", sans-serif;
  margin: 0;
}

.scheme__item-icon::before {
  font-size: 60px;
  color: #5f89fc;
}

.scheme__item-num {
  font-weight: 300;
  font-size: 150px;
  line-height: .7;
  margin: 0;
  color: #244c91;
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.scheme__item--1::before {
  background-image: url(../img/scheme-item-decor-1.png);
  width: 87px;
  height: 87px;
  top: 0;
  left: 3px;
}

.scheme__item--1 .scheme__item-icon::before {
  content: '\e908';
}

.scheme__item--2::before {
  background-image: url(../img/scheme-item-decor-1.png);
  width: 87px;
  height: 87px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  top: 40px;
  right: -20px;
}

.scheme__item--2 .scheme__item-icon::before {
  content: '\e909';
}

.scheme__item--3::before {
  background-image: url(../img/scheme-item-decor-2.png);
  width: 181px;
  height: 181px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  top: -60px;
  right: -120px;
}

.scheme__item--3 .scheme__item-icon::before {
  content: '\e906';
}

.scheme__item--4::before {
  background-image: url(../img/scheme-item-decor-2.png);
  width: 181px;
  height: 181px;
  top: -135px;
  left: 50%;
  margin-left: -90px;
}

.scheme__item--4 .scheme__item-icon::before {
  content: '\e907';
}

.scheme__form {
  background-color: #244c91;
  padding: 25px 0 25px 35px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-top: 30px;
}

.scheme__form-step {
  display: none;
}

.scheme__form-caption {
  font-size: 19px;
  font-family: "PTRootUI-Medium", sans-serif;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  padding-right: 15px;
  position: relative;
  z-index: 1;
  width: 30%;
  display: inline-block;
  vertical-align: middle;
}

.scheme__form-caption small {
  display: none;
}

.scheme__form-field {
  max-width: 270px;
  margin-left: auto;
  z-index: 1;
}

.scheme__form-btn {
  margin-top: 0;
  margin-left: 25px;
  -webkit-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
  max-width: 270px;
  z-index: 1;
}

.scheme__form-discount {
  font-size: 70px;
  font-weight: 500;
  line-height: 1;
  margin: 0 35px 0 auto;
  color: #fff;
  position: relative;
  opacity: .99;
  display: inline-block;
  vertical-align: middle;
}

.scheme__form-discount::after {
  content: '';
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  background-image: url(../img/circle.png);
  -webkit-background-size: cover;
  background-size: cover;
}

.popular {
  position: relative;
  padding: 40px 0 0;
  opacity: .99;
}

.popular__title {
  color: #244c91;
  font-size: 35px;
  margin: 0 0 30px;
  font-family: "PTRootUI-Medium", sans-serif;
  font-weight: 500;
}

.popular__title strong {
  font-weight: 700;
}

.popular__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 1px 0 0 1px;
  overflow: visible;
}

.popular__item {
  text-decoration: none;
  color: inherit;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 25%;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  border: 1px solid #c5d4e7;
  margin-top: -1px;
  margin-left: -1px;
  padding: 30px 30px 95px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.popular__item-caption {
  font-size: 22px;
  color: #244c91;
  font-weight: 700;
  font-family: "PTRootUI-Bold", sans-serif;
  line-height: 1.2;
  margin: 0 0 17px;
}

.popular__item-pic {
  position: absolute;
  left: 240px;
  bottom: 10px;
}

.popular__item-services {
  font-size: 16px;
}

.popular__item-services li {
  padding-left: 25px;
  position: relative;
}

.popular__item-services li::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #01AF4D;
}

.popular__item-services li + li {
  margin-top: 5px;
}

.popular__item-text {
  font-size: 16px;
  margin: 0;
}

.popular__item-field {
  margin-top: 25px;
}

.popular__item-btn {
  font-size: 18px;
  padding: 15px;
}

.popular__item-price {
  position: absolute;
  bottom: 35px;
  left: 45px;
  font-weight: 700;
  font-family: "PTRootUI-Bold", sans-serif;
  color: #5f89fc;
  font-size: 24px;
  margin: 0;
  padding: 0 10px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.popular__item-num {
  position: absolute;
  color: #d3dbe9;
  margin: 0;
  bottom: -12px;
  right: -10px;
  font-weight: 700;
  font-family: "PTRootUI-Bold", sans-serif;
  line-height: .8;
  font-size: 99px;
}

.popular__item:hover .popular__item-caption {
  text-decoration: underline;
}

.popular__item:hover .popular__item-price {
  background-color: #5f89fc;
  color: #fff;
}

.popular__item--1 {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -webkit-box-shadow: inset 0 0 0 3px #c5d4e7;
  box-shadow: inset 0 0 0 3px #c5d4e7;
}

.popular__item--1 .popular__item-price {
  background-color: #5f89fc;
  color: #fff;
}

.popular__item--7 {
  padding: 30px;
  border-color: #244c91;
  background-color: #244c91;
  color: #fff;
}

.popular__item--7 .popular__item-caption {
  color: inherit;
}

.advantages {
  position: relative;
  padding: 40px 0;
  opacity: .99;
}

.advantages__title {
  color: #244c91;
  font-size: 35px;
  margin: 0 0 30px;
  font-family: "PTRootUI-Medium", sans-serif;
  font-weight: 500;
}

.advantages__title strong {
  font-weight: 700;
}

.advantages__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -20px -20px;
  text-align: center;
}

.advantages__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 45%;
  -ms-flex: 1 1 45%;
  flex: 1 1 45%;
  margin: 20px;
}

.advantages__item-caption {
  font-family: "PTRootUI-Bold", sans-serif;
  font-weight: 700;
  color: #000;
  margin: 15px 0;
  font-size: 30px;
}

.advantages__item-description {
  font-size: 18px;
  max-width: 80%;
  margin: 0 auto;
}

.advantages__item-icon::before {
  font-size: 80px;
  color: #5f89fc;
}

.advantages__item--1 .advantages__item-icon::before {
  content: '\e90d';
}

.advantages__item--2 .advantages__item-icon::before {
  content: '\e90e';
}

.advantages__item--3 .advantages__item-icon::before {
  content: '\e90f';
}

.advantages__item--4 .advantages__item-icon::before {
  content: '\e90a';
}

.advantages__item--5 .advantages__item-icon::before {
  content: '\e90b';
}

.advantages__item--6 .advantages__item-icon::before {
  content: '\e90c';
}

.about {
  position: relative;
  padding: 40px 0;
  opacity: .99;
  background-color: #f6f3fe;
}

.about__title {
  color: #244c91;
  font-size: 35px;
  margin: 0 0 30px;
  font-family: "PTRootUI-Medium", sans-serif;
  font-weight: 500;
}

.about__title strong {
  font-weight: 700;
}

.about__text {
  font-size: 20px;
  overflow: auto;
  margin: 0;
}

.about__pic {
  float: left;
  margin: 0 40px 0 0;
}

.contacts {
  position: relative;
  padding: 40px 0;
}

.contacts__title {
  color: #244c91;
  font-size: 35px;
  margin: 0 0 30px;
  font-family: "PTRootUI-Medium", sans-serif;
  font-weight: 500;
}

.contacts__title strong {
  font-weight: 700;
}

.contacts__text {
  font-size: 20px;
  overflow: auto;
  margin: 0 0 25px;
}

.contacts__inner {
  padding-right: -webkit-calc(50% + 30px);
  padding-right: calc(50% + 30px);
  position: relative;
}

.contacts__map {
  position: absolute;
  top: 0;
  right: 0;
  height: -webkit-calc(100% + 40px);
  height: calc(100% + 40px);
  width: 50%;
  padding-left: 30px;
  border: none;
}

.contacts__item {
  color: #5f89fc;
  font-size: 22px;
}

.contacts__item a {
  color: inherit;
  text-decoration: none;
}

.contacts__item a:hover {
  color: #000;
}

.contacts__item small {
  font-size: 14px;
  display: inline-block;
  margin-top: 12px;
  color: #575757;
}

.contacts__item + .contacts__item {
  margin-top: 20px;
}

.footer {
  background-color: #244c91;
  padding: 20px 0 30px;
  color: #fff;
}

.footer__top, .footer__form, .footer__small {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__phone {
  margin-left: auto;
  font-family: "InterUI-Bold", sans-serif;
  text-transform: lowercase;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  text-align: right;
}

.footer__phone a {
  font-size: 25px;
  text-decoration: none;
  color: inherit;
  display: block;
  font-weight: 600;
  margin-top: 5px;
}

.footer__phone a:hover {
  color: #74a3f5;
}

.footer__form {
  margin: 30px 0;
  text-align: center;
}

.footer__form-field, .footer__form-btn {
  max-width: 270px;
}

.footer__form-btn {
  margin-top: 0;
  margin-left: 30px;
}

.footer__form-field {
  margin-left: auto;
}

.footer__form-caption {
  font-size: 16px;
  color: #fff;
  margin: 0;
  padding-right: 12%;
  max-width: 48%;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.footer__copy, .footer__privacepolicy {
  font-size: 12px;
  width: 50%;
  display: inline-block;
}

.footer__privacepolicy {
  text-align: right;
  padding-left: 50px;
  color: inherit;
  text-decoration: none;
}

.footer__privacepolicy:hover {
  text-decoration: underline;
}

.mobileCallback {
  display: none;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-dots {
  bottom: 0;
  position: relative;
  font-size: 0;
  margin-top: 40px;
}

.slick-dots li {
  margin: 0 10px;
}

.slick-dots li.slick-active button, .slick-dots li:hover button {
  opacity: 1 !important;
}

.slick-dots button {
  background-color: #5f89fc !important;
  opacity: .3 !important;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.slick-dots button::before {
  display: none;
}

@media only screen and (max-width: 1150px) {
  .hero__service, .hero__discount {
    display: table;
  }
  .hero__discount {
    margin: 0;
    margin-top: 20px;
  }
  .hero--main .hero__img {
    margin-right: -550px;
  }
  .hero__phone {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .hide-on-mobile {
    display: none !important;
  }
  .slick-dots {
    margin-top: 20px;
  }
  .slick-dots button,
  .slick-dots li {
    width: 15px !important;
    height: 15px !important;
  }
  .slick-dots li {
    margin: 0 5px;
  }
  .mobileCallback {
    display: block;
    max-width: 320px;
    background-color: #5f89fc;
    -webkit-border-radius: 15px 4px 4px 15px;
    border-radius: 15px 4px 4px 15px;
    padding: 20px 10px 20px 80px;
    width: 100%;
    border: none;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    position: relative;
  }
  .mobileCallback strong {
    position: absolute;
    top: 50%;
    left: -2px;
    width: 69px;
    height: 69px;
    margin-top: -34.5px;
    line-height: 64px;
    background-color: #63af55;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    border: 2px solid #fff;
  }
  .container {
    max-width: 500px;
  }
  .header {
    z-index: 5;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }
  .header__inner, .header__logo, .header__phone {
    display: block;
    width: auto;
  }
  .header__middle {
    display: none;
  }
  .header__top {
    padding: 0;
    border: none;
    background-color: #fff;
  }
  .header__inner {
    padding: 0;
  }
  .header__logo {
    padding: 15px;
    font-size: 0;
  }
  .header__nav {
    padding: 0;
  }
  .header__burger {
    position: absolute;
    z-index: 1;
    display: block;
    background-color: transparent;
    top: 15px;
    right: 15px;
    border: none;
    padding: 0;
    font-size: 25px;
    color: #5f89fc;
  }
  .header__burger::after {
    content: '\e902';
  }
  .header__burger.open::after {
    content: '\e903';
  }
  .header .logo {
    max-width: 190px;
  }
  .header .phone {
    text-align: center;
    font-size: 0;
    padding: 8px;
    background-color: #63af55;
  }
  .header .phone a {
    font-size: 20px;
    color: #fff;
    margin: 0;
  }
  .menu {
    display: none;
    padding: 20px 0;
  }
  .menu__list {
    display: block;
    margin: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .menu__item {
    display: block;
    color: #000;
  }
  .menu__item a, .menu__item span {
    display: block;
    padding: 10px 15px;
    background-color: #eef2fd;
  }
  .menu__item + .menu__item {
    margin-top: 5px;
  }
  .menu__item--hasSub:hover .menu__sub {
    display: none;
  }
  .menu__sub {
    position: relative;
    z-index: 1;
    left: auto;
    margin-left: auto;
    width: auto;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .menu__sub-item {
    color: #000;
  }
  .menu__sub-item a {
    padding: 10px 15px;
    background-color: #eef2fd;
    text-transform: uppercase;
  }
  .menu__sub-item a:hover {
    color: #5f89fc;
    background-color: #eef2fd;
  }
  .menu__sub-item.active a {
    color: #fff;
    background-color: #5f89fc;
  }
  .menu__sub-item + .menu__sub-item {
    margin-top: 5px;
  }
  .menu__back {
    margin-top: 20px;
    margin-left: 15px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .menu__back::before {
    content: '\e901';
    display: inline-block;
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    font-size: 13px;
    margin-right: 12px;
  }
  .hero {
    padding: 115px 0 15px;
  }
  .hero__right {
    display: none;
  }
  .hero__left {
    padding-right: 0;
    position: relative;
  }
  .hero__title {
    font-size: 22px !important;
    margin-bottom: 15px;
  }
  .hero__title strong {
    font-size: 21px;
    margin-top: 5px;
    display: block;
  }
  .hero__title br {
    display: none;
  }
  .hero__list {
    font-size: 14px;
    padding-right: 80px;
    margin: 15px 0;
  }
  .hero__list li {
    padding-left: 18px;
    display: block !important;
    max-width: none !important;
  }
  .hero__list li::before {
    width: 6px;
    height: 6px;
  }
  .hero__list li + li {
    margin-top: 5px !important;
    margin-left: 0 !important;
  }
  .hero__service, .hero__discount {
    max-width: 320px;
    font-size: 16px;
  }
  .hero__service strong, .hero__discount strong {
    font-size: 25px;
  }
  .hero__service {
    padding: 12px 25px;
  }
  .hero__discount {
    margin-top: 10px;
    padding: 12px 125px 12px 25px;
  }
  .hero__discount::after {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    right: -50px;
  }
  .hero__footer {
    display: none;
  }
  .hero--main .hero__img {
    max-width: 500px;
    margin-right: auto;
    right: -250px;
  }
  .hero--metro .hero__img {
    position: relative;
    top: auto;
    left: 23px;
    margin: 0 auto;
    display: block;
  }
  .hero--metro .hero__discount, .hero--metro .hero__mobileCallback {
    margin-left: auto;
    margin-right: auto;
  }
  .hero--metro .hero__service {
    display: none;
  }
  .hero--metro .hero__list {
    display: none;
  }
  .hero--metro .hero__title {
    line-height: 1.2;
  }
  .hero--single .hero__img {
    position: relative;
    bottom: auto;
    right: auto;
    margin: 0 auto -25px;
    display: block;
    max-width: 245px;
    left: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .hero--single .hero__title {
    line-height: 1.2;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero--single .hero__list {
    display: none;
  }
  .hero--single .hero__service {
    max-width: 320px;
    width: 100%;
  }
  .hero--single .hero__service, .hero--single .hero__discount, .hero--single .hero__mobileCallback {
    margin-left: auto;
    margin-right: auto;
  }
  .hero--single-3 .hero__img {
    left: -50px;
  }
  .hero--single-4 .hero__img {
    margin-bottom: -5px;
  }
  .hero--single-6 .hero__img {
    margin-bottom: -45px;
    left: -30px;
  }
  .guarantees {
    padding: 20px 0;
  }
  .guarantees__list {
    display: block;
    margin: -10px;
  }
  .guarantees__item {
    width: auto;
    display: block;
    padding: 20px 100px 20px 20px;
    text-align: left;
    background-position: right center;
    margin: 10px;
  }
  .guarantees__item-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .guarantees__item-text {
    font-size: 14px;
  }
  .guarantees__item--1 {
    background-image: url(../img/guarantees-img-1-mobile.png);
  }
  .guarantees__item--2 {
    background-image: url(../img/guarantees-img-2-mobile.png);
  }
  .guarantees__item--3 {
    background-image: url(../img/guarantees-img-3-mobile.png);
  }
  .guarantees__promo {
    background-color: #7e6fb4;
    background-image: url(../img/guarantees-promo-bg-mobile.png);
    background-position: right bottom;
    padding: 20px 25px;
    font-size: 18px;
  }
  .guarantees__promo small {
    font-size: 14px;
    display: block;
    margin-top: 2px;
  }
  .guarantees__promo-btn {
    position: relative;
    top: auto;
    right: auto;
    margin: 25px 0 0 -25px;
    -webkit-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
    color: #5d75d7;
    background-color: #fff;
    font-size: 16px;
  }
  .reviews {
    padding: 20px 0;
  }
  .reviews__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .reviews__list {
    margin: 0;
  }
  .reviews__item {
    margin: 0;
    padding: 20px;
  }
  .reviews__text {
    font-size: 16px;
  }
  .reviews__stars {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .reviews__recomend {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .reviews__recomend::before {
    font-size: 15px;
    padding: 5px;
  }
  .reviews .slick-track {
    display: block;
  }
  .breakdowns {
    padding: 20px 0;
  }
  .breakdowns__mobileCallback {
    margin: 0 auto 15px;
    max-width: none;
  }
  .breakdowns__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .breakdowns__list {
    display: block;
    margin: 0;
  }
  .breakdowns__item {
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    float: left;
    margin: 0;
  }
  .breakdowns__name br {
    display: none;
  }
  .pricelist {
    padding: 20px 0;
  }
  .pricelist__title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .pricelist__disclamer {
    margin-bottom: 15px;
    font-size: 15px;
  }
  .table__head {
    display: none;
  }
  .table__row {
    padding: 10px 15px;
    background-color: #fff;
  }
  .table__row + .table__row {
    margin-top: 10px;
  }
  .table__cell {
    padding: 0;
    background-color: transparent;
  }
  .table__cell::before, .table__cell::after {
    display: none;
  }
  .table__cell:nth-child(1) {
    padding-left: 0 !important;
    padding-right: 15px;
    font-size: 14px;
  }
  .table__cell:nth-child(2) {
    font-size: 16px;
    width: 80px;
  }
  .table__cell:nth-child(2), .table__cell:nth-child(3) {
    border: none;
  }
  .table__cell:nth-child(3) {
    width: 25px;
  }
  .table__cell button {
    margin: 0;
    font-size: 0;
    padding: 0;
  }
  .table__cell button::after {
    content: '\e901';
    font-size: 17px;
  }
  .table__cell button:hover {
    background-color: inherit;
    color: inherit;
  }
  .table__more {
    margin-top: 10px;
    font-size: 16px;
    padding: 12px 20px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
  }
  .scheme {
    padding: 20px 0 0;
  }
  .scheme__title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .scheme__disclamer {
    margin-bottom: 15px;
    font-size: 15px;
  }
  .scheme__list {
    display: block;
    margin: 0;
  }
  .scheme__item {
    display: block;
    width: auto;
    margin: 0;
    float: left;
  }
  .scheme__item-description {
    max-width: 90%;
    display: inline-block;
  }
  .scheme__form {
    margin: 20px -270px 0;
    display: block;
    text-align: center;
    padding: 20px 270px;
  }
  .scheme__form-step {
    position: relative;
    padding-left: 70px;
    min-height: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    font-size: 18px;
    line-height: 1.3;
    margin: 0 auto 15px;
    max-width: 320px;
    text-align: left;
  }
  .scheme__form-step i {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 0;
    font-style: normal;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 27px;
  }
  .scheme__form-step i::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    background-image: url(../img/circle.png);
    -webkit-background-size: cover;
    background-size: cover;
  }
  .scheme__form-step:nth-child(even) i::after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .scheme__form-caption {
    max-width: 320px;
    width: auto;
    font-size: 15px;
    padding: 0;
    margin: 20px auto 15px;
  }
  .scheme__form-caption small {
    display: inline;
    font-size: inherit;
  }
  .scheme__form-discount {
    display: none;
  }
  .scheme__form-field {
    margin-top: 15px;
    max-width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .scheme__form-btn {
    margin-left: 0;
    margin-top: 10px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    max-width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .popular {
    padding: 20px 0 0;
  }
  .popular__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .popular__list {
    display: block;
    margin: 0;
  }
  .popular__item {
    margin: 0;
    float: left;
    padding: 20px 20px 90px;
  }
  .popular__item-caption {
    font-size: 20px;
  }
  .popular__item--7 {
    padding: 20px;
  }
  .advantages {
    padding: 20px 0;
  }
  .advantages__title {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .advantages__list {
    display: block;
    margin: 0;
  }
  .advantages__item {
    margin: 0;
  }
  .advantages__item-caption {
    font-size: 20px;
  }
  .advantages__item-description {
    font-size: 14px;
    max-width: 85%;
  }
  .advantages__item + .advantages__item {
    margin-top: 25px;
  }
  .advantages__mobileCallback {
    margin-top: 25px;
  }
  .about {
    padding: 20px 0;
  }
  .about__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .about__pic {
    margin: 0 0 15px;
  }
  .about__text {
    font-size: 16px;
  }
  .contacts {
    padding: 20px 0;
  }
  .contacts__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .contacts__inner {
    padding-right: 0;
  }
  .contacts__text {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .contacts__item {
    font-size: 20px;
    line-height: 1.2;
  }
  .contacts__item small {
    margin-top: 0;
  }
  .contacts__item + .contacts__item {
    margin-top: 15px;
  }
  .contacts__map {
    position: relative;
    top: auto;
    right: auto;
    padding-left: 0;
    width: 100%;
    height: 200px;
    margin-top: 20px;
  }
  .footer {
    padding: 20px 0;
  }
  .footer__top {
    display: block;
  }
  .footer__phone {
    text-align: left;
    margin-top: 15px;
    font-size: 0;
  }
  .footer__phone a {
    font-size: 20px;
  }
  .footer__form {
    display: block;
    margin: 15px 0;
  }
  .footer__form-caption {
    padding-right: 0;
    max-width: none;
    font-size: 14px;
  }
  .footer__form-field {
    margin-top: 10px;
    max-width: none;
  }
  .footer__form-btn {
    margin-top: 10px;
    margin-left: 0;
    max-width: none;
  }
  .footer__small {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .footer__copy, .footer__privacepolicy {
    text-align: center;
    width: auto;
  }
  .footer__privacepolicy {
    padding-left: 0;
  }
  .footer__copy {
    margin: 25px 0 0;
  }
  .modal__box {
    padding: 35px 20px 20px;
    max-width: 320px;
  }
  .modal__caption {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .modal__text {
    font-size: 15px;
  }
  .modal__breakdown-icon {
    vertical-align: middle;
    margin-right: 18px;
    width: 70px;
    height: 70px;
    background-color: #fff;
  }
  .modal__breakdown-name {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    margin: 0;
  }
  .modal__breakdown-price {
    margin-top: 20px;
  }
  .modal--breakdowns .modal__box {
    display: block;
    max-width: 320px;
  }
  .modal--breakdowns .modal__box::after, .modal--breakdowns .modal__box::before {
    display: none;
  }
  .modal--breakdowns .modal__left, .modal--breakdowns .modal__right {
    width: auto;
    padding: 0;
  }
  .modal--breakdowns .modal__left {
    margin-bottom: 25px;
  }
}
