doctype html
html

	head
		meta(charset='utf-8')
		title Profi-Master - Вирусы
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900")
		link(rel='stylesheet', href='css/style.css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(type='text/javascript').
			var _GET = function(v) {
			var url = window
			.location
			.search
			.replace('?', '')
			.split('&')
			.reduce(
			function(p, e) {
			var a = e.split('=');
			p[decodeURIComponent(a[0])] = decodeURIComponent(a[1]);
			return p;
			}, {}
			)
			return url[v]
			}
			function geo() {
			var metro = _GET('metro')
			if (metro) {
			$('.hero').addClass('hero--metro').removeClass('hero--main')
			if(!$('.hero').hasClass('hero--single')) $('.hero__img').attr('src', 'img/hero-img-geo.png')
			$('.js-metro').text('у метро ' + metro)
			}
			}


	body
		.w-page
			header.header
				.header__top
					.header__inner
						a(href="/").header__logo
							img.logo(src="img/logo.png", alt="")
						.header__middle
							span.bage.js-modal гарантия до 36 месяцев
							button.bage.bage--ghost.js-modal Позвоните мне
						.header__phone
							.phone Без выходных
								a(href="tel:+74953749832") +7 (495) 374-98-32
				.header__bottom
					.header__nav
						button.header__burger.js-menuToggle
						nav.menu
							ul.menu__list
								li.menu__item.hide-on-mobile
									a(href="#about") О компании
								li.menu__item.menu__item--hasSub
									span Услуги
									.menu__sub
										.menu__sub-item
											a(href="/") Ремонт компьютеров
										.menu__sub-item
											a(href="remont-noutbukov.html") Ремонт ноутбуков
										.menu__sub-item
											a(href="nastrojka-kompyuterov.html") Настройка компьютеров
										.menu__sub-item
											a(href="ustanovka-windows.html") Установка Windows
										.menu__sub-item
											a(href="nastrojka-wi-fi-routera.html") Настройка Wi-Fi роутера
										.menu__sub-item
											a(href="vosstanovlenie-dannyh.html") Восстановление данных
										.menu__sub-item
											a(href="ustanovka-antivirusa.html") Установка антивируса
										.menu__sub-item
											a(href="udalenie-virusov.html") Удаление вирусов
										.menu__sub-item
											a(href="ustanovka-program.html") Установка программ
								li.menu__item
									a(href="#advantages") Преимущества
								li.menu__item.hide-on-mobile
									a(href="#reviews") Отзывы
								li.menu__item
									a(href="#pricelist") Цены
								li.menu__item
									a(href="#popular") Популярные поломки
								li.menu__item
									a(href="#contacts") Контакты

			section.hero.hero--single.hero--single-13
				.container
					.hero__inner
						.hero__left
							h1.hero__title #[span.js-title Вирусы] #[span.js-metro]
							ul.hero__list
								li Через 30 мин. мастер у вас 
								li Опыт более 10 лет
								li Гарантия 1 год
							img.hero__img(src="img/hero-img-single-12.png", alt="")
							p.hero__service Удаление вирусов   #[strong 540&nbsp;&#8381;]
								span.hero__service-icon.hero__service-icon--5
							p.hero__call #[button.js-modal Вызвать мастера] #[strong -25%]
						.hero__right
							p.hero__step #[i 1] Выезд мастера#[br] БЕСПЛАТНО
							p.hero__step #[i 2] Диагностика#[br] БЕСПЛАТНО
							form.hero__form#order_form(action="", method="post")
								p.hero__form-title Вызовите мастера прямо сейчас и получите скидку 25%
								input(type="tel", name="phone", placeholder="Ваше телефон", required).hero__form-field.field
								input(type="hidden", name="form", value="hero")
								button.hero__form-btn.btn.js-submit Отправить

			section.guarantees
				.container
					.guarantees__inner
						ul.guarantees__list
							li.guarantees__item.guarantees__item--1
								p.guarantees__item-title Бесплатная диагностика и выезд мастера
								p.guarantees__item-text Срок ремонта не более 2 часов с момента, проведения диагностики
							li.guarantees__item.guarantees__item--2
								p.guarantees__item-title Оригинальные запчасти
								p.guarantees__item-text Мы используем только оригинальные комплектующие
							li.guarantees__item.guarantees__item--3
								p.guarantees__item-title Ремонт в день обращения
								p.guarantees__item-text Мы бесплатно доставим вашу технику в ремонт и обратно
							li.guarantees__promo Бесплатная#[br] диагностика #[small вашей техники]
								button.guarantees__promo-btn.btn.js-modal Узнать подробнее

			section.reviews#reviews
				.container
					.reviews__inner
						h2.reviews__title За годы работы получили #[strong сотни отзывов]
						.reviews__list
							.reviews__item
								span.reviews__stars.reviews__stars--5 #[i] #[i] #[i] #[i] #[i]
								p.reviews__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quidem, neque. Sunt, dolores enim ad.
							.reviews__item
								span.reviews__recomend Рекомендую
								p.reviews__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quidem, neque. Sunt, dolores enim ad.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quidem, neque. Sunt, dolores enim ad.
							.reviews__item
								span.reviews__stars.reviews__stars--4 #[i] #[i] #[i] #[i] #[i]
								p.reviews__text LLorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quidem, neque. Sunt, dolores enim ad.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quidem, neque. Sunt, dolores adipisicing elit. Repudiandae, quidem, neque. Sunt, dolores enim ad.
							.reviews__item
								span.reviews__recomend Рекомендую
								p.reviews__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quidem, neque. Sunt, dolores enim ad.
							.reviews__item
								span.reviews__stars.reviews__stars--4 #[i] #[i] #[i] #[i] #[i]
								p.reviews__text Lorem ipsum dolor sit aLorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quidem, neque. Sunt, dolores enim ad.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, quidem, ning elit. Repudiandae, quidem, neque. Sunt, dolores enim ad.


			section.pricelist#pricelist
				.container
					.pricelist__inner
						h2.pricelist__title Цены на услуги #[strong сервисного центра]
						p.pricelist__disclamer Цены указаны без учета стоимости деталей. Полная стоимость ремонта будет известна после диагностики устройства.
						.pricelist__table.table
							.table__head
								.table__row
									.table__cell Описание работы
									.table__cell Цена
									.table__cell Ремонт
							.table__tail
								.table__row
									.table__cell Выезд и диагностика
									.table__cell 0&nbsp;&#8381;
									.table__cell #[button.js-modal Заказать]
								.table__row
									.table__cell Замена видеокарты на ноутбуке
									.table__cell 1750&nbsp;&#8381;
									.table__cell #[button.js-modal Заказать]
								.table__row
									.table__cell Ремонт подсветки в ноутбуке
									.table__cell 1750&nbsp;&#8381;
									.table__cell #[button.js-modal Заказать]
								.table__row
									.table__cell Замена клавиатуры на ноутбуке
									.table__cell 1750&nbsp;&#8381;
									.table__cell #[button.js-modal Заказать]
								.table__spacer
									.table__cell
									.table__cell
									.table__cell
							button.table__more Показать еще
							.table__hidden
								.table__row
									.table__cell fdbzdf
									.table__cell 1750&nbsp;&#8381;
									.table__cell #[button.js-modal Заказать]
								.table__row
									.table__cell fdbzdf
									.table__cell 1750&nbsp;&#8381;
									.table__cell #[button.js-modal Заказать]
								.table__row
									.table__cell fdbzdf
									.table__cell 1750&nbsp;&#8381;
									.table__cell #[button.js-modal Заказать]

			section.scheme
				.container
					.scheme__inner
						h2.scheme__title Как #[strong мы работаем]
						p.scheme__disclamer Перед началом работ мы сначала делаем первичную диагностику и проверяем с помощью профессионального программного обеспечения. Все мастера со стажем более 5 лет.
						.scheme__list
							.scheme__item.scheme__item--1
								.scheme__item-icon
								p.scheme__item-title Заказ
								p.scheme__item-description Вы делаете заказ по телефону или онлайн через наш сайт
								p.scheme__item-num
							.scheme__item.scheme__item--2
								.scheme__item-icon
								p.scheme__item-title Диагностика
								p.scheme__item-description В срок от 30 минут мастер приезжает к вам и производит диагностику
								p.scheme__item-num
							.scheme__item.scheme__item--3
								.scheme__item-icon
								p.scheme__item-title Стоимость
								p.scheme__item-description Если вас устраивает стоимость услуг, мы приступаем к работам
								p.scheme__item-num
							.scheme__item.scheme__item--4
								.scheme__item-icon
								p.scheme__item-title Исправная техника
								p.scheme__item-description По окончании работ вы получаете исправную технику и бланк БСО
								p.scheme__item-num
						form.scheme__form(action="", method="post")
							p.scheme__form-caption СДЕЛАЙТЕ ЗАКАЗ ОНЛАЙН И ПОЛУЧИТЕ СКИДКУ
							p.scheme__form-discount -25%
							input(type="tel", name="phone", placeholder="Ваше телефон", required).scheme__form-field.field
							input(type="hidden", name="form", value="shcheme")
							button.scheme__form-btn.btn.js-submit Получить скидку
							a(href="").scheme__privacypolicy Политика конфиденциальности и обработки персональных данных

			section.popular#popular
				.container
					.popular__inner
						h2.popular__title Популярные #[strong поломки]
						.popular__list
							a(href="ne-rabotaet-kompyuter.html").popular__item.popular__item--1
								p.popular__item-caption Не работает компьютер
								img.popular__item-pic(src="img/popular-pic-1.png", alt="")
								ul.popular__item-services
									li Переустановка Windows
									li Настройка Windows
									li Удаление вируса
									li Замена блока питания
									li Замена разъема
								p.popular__item-price ~&nbsp;200&nbsp;&#8381;
							a(href="ne-podklushaetsja-k-seti.html").popular__item.popular__item--2
								p.popular__item-caption Не  подключается к сети
								ul.popular__item-services
									li Настройка Wi-Fi
									li Настройка роутера
									li Настройка Windows
									li Настройка интернета
								p.popular__item-price ~&nbsp;250&nbsp;&#8381;
								p.popular__item-num 02
							a(href="problemi-s-windows.html").popular__item.popular__item--3
								p.popular__item-caption Проблемы с Windows
								ul.popular__item-services
									li Переустановка Windows
									li Настройка Windows
									li Удаление вирусов
									li Установка драйверов и обновлений
								p.popular__item-price ~&nbsp;200&nbsp;&#8381;
								p.popular__item-num 03
							a(href="ne-vidit-vneshnie-ustrojstva.html").popular__item.popular__item--4
								p.popular__item-caption Не  видит внешние устройства?
								ul.popular__item-services
									li Замена жесткого диска
									li Замена разъема
									li Установка драйверов и обновлений
								p.popular__item-price ~&nbsp;100&nbsp;&#8381;
								p.popular__item-num 04
							a(href="net-zvuka.html").popular__item.popular__item--5
								p.popular__item-caption Нет звука
								ul.popular__item-services
									li Подключения и настройка оборудования
									li Установка драйверов и обновлений
									li Удаление вирусов
								p.popular__item-price ~&nbsp;100&nbsp;&#8381;
								p.popular__item-num 05
							a(href="virusi.html").popular__item.popular__item--6
								p.popular__item-caption Вирусы
								ul.popular__item-services
									li Удаление вируса
									li Снятие вируса-баннера
									li Установка антивирусной защиты и обновлений
								p.popular__item-price ~&nbsp;100&nbsp;&#8381;
								p.popular__item-num 06
							form.popular__item.popular__item--7
								p.popular__item-caption Остались вопросы?
								p.popular__item-text Оставьте заявку, и наш оператор перезвонит Вам через 2 минуты
								input(type="tel", name="phone", placeholder="Ваше телефон", required).popular__item-field.field
								input(type="hidden", name="form", value="popular")
								button.popular__item-btn.btn.js-submit Перезвоните мне
			
			section.advantages#advantages
				.container
					.advantages__inner
						h2.advantages__title Доверьте ремонт #[strong Профессионалам]
						.advantages__list
							.advantages__item.advantages__item--1
								.advantages__item-icon
								p.advantages__item-caption Прозрачная цена
								p.advantages__item-description Наши тарифы единые и финальная стоимость будет зависеть только от результатов диагностики, также мы всегда предоставляем детализацию стоимости работ и запчастей
							.advantages__item.advantages__item--2
								.advantages__item-icon
								p.advantages__item-caption Служба одного окна
								p.advantages__item-description Вы можете просто позвонить по номеру выделенной линии и задать любые вопросы о Вашей технике, наши специалисты всегда бесплатно дадут Вам консультацию и подберут наилучший метод решения Вашей проблемы
							.advantages__item.advantages__item--3
								.advantages__item-icon
								p.advantages__item-caption Высокий уровень сервиса
								p.advantages__item-description Мы тщательно отбираем сервисные центры, проводим технический аудит, контролируем их на каждой стадии выполнения Вашего заказа и постоянно оцениваем уровень удовлетворенности наших Клиентов
							.advantages__item.advantages__item--4
								.advantages__item-icon
								p.advantages__item-caption Опытные инженеры
								p.advantages__item-description При звонке в «Чудо техники» Вы общаетесь с опытными инженерами, которые смогут дать квалифицированную первичную консультацию уже по телефону
							.advantages__item.advantages__item--5
								.advantages__item-icon
								p.advantages__item-caption Лицензионное ПО
								p.advantages__item-description Мы работаем только с лицензионным программным обеспечением
							.advantages__item.advantages__item--6
								.advantages__item-icon
								p.advantages__item-caption Гарантия
								p.advantages__item-description Даем гарантию на любой ремонт и запчасти – от 90 дней

			section.about#about
				.container
					.about__inner
						h2.about__title Profi #[strong Master]
						p.about__text
							img.about__pic(src="img/about-pic.jpg", alt="")
							| Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Рот бросил текстов строчка необходимыми агенство великий знаках однажды она, безопасную рукопись! Всеми, текста! Заглавных, своего. Океана это обеспечивает точках языком! Над, пояс то страну, лучше рукопись о реторический агенство. Грустный свое, имеет буквоград буквенных свой своих, родного собрал то.


			section.contacts#contacts
				.container
					.contacts__inner
						h2.contacts__title Контактная #[strong Информация]
						p.contacts__text Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Рот бросил текстов строчка необходимыми агенство великий знаках однажды она, безопасную рукопись! Всеми, текста! Заглавных, своего. Океана это обеспечивает точках языком! Над, пояс то страну, лучше рукопись о реторический агенство. Грустный свое, имеет буквоград буквенных свой своих, родного собрал то.
						.contacts__item
							a(href="tel:+74953749832") +7 (495) 374-98-32
							small Многоканальная линия. Консультации и прием заявок.
						.contacts__item
							a(href="mailto:info@profimaster.pro") info@profimaster.pro
							small По вопросам и предложениям обращаться на почту
						.contacts__map#map
					p.contacts__helper Наши мастера на заявках

			footer.footer
				.container
					.footer__top
						img.footer__logo(src="img/logo-white.png", alt="")
						.footer__phone Без выходных
							a(href="tel:+74953749832") +7 (495) 374-98-32
					form(action="", method="post").footer__form
						p.footer__form-caption Заполните форму обратной связи, и мы свяжемся с вами и проконсультируем по всем вопросам!
						input(type="tel", name="phone", placeholder="Ваше телефон", required).footer__form-field.field
						input(type="hidden", name="form", value="shcheme")
						button.footer__form-btn.btn.js-submit Отправить
					.footer__small
						p.footer__copy © Проект принадлежит АО «Электронная Москва», 2019. Все права защищены.
						a(href="").footer__privacypolicy Политика конфиденциальности и обработки персональных данных



		.modal.modal--breakdowns#breakdowns
			table.modal__wrapper
				tbody
					tr
						td.modal__inner
							.modal__box
								button.modal__close
								.modal__left
									.modal__breakdown
										.modal__breakdown-icon
											svg.icon
												use(xlink:href='#icon_9')
										p.modal__breakdown-name Пропал звук
										p.modal__breakdown-price ~&nbsp;#[span 250]&nbsp;&#8381;
								.modal__right
									p.modal__caption Оформите онлайн заказ сейчас и получите скидку на ремонт #[strong 25%]
									form.modal__form(action="", method="post")
										input(type="tel", name="phone", placeholder="Ваше телефон", required).modal__form-field.field
										input(type="hidden", name="form", value="popup")
										button.modal__form-btn.btn.js-submit Отправить
										a(href="").modal__form-privacypolicy Политика конфиденциальности

		.modal#callback
			table.modal__wrapper
				tbody
					tr
						td.modal__inner
							.modal__box
								button.modal__close
								p.modal__caption Оформите онлайн заказ сейчас и получите скидку на ремонт #[strong 25%]
								form.modal__form(action="", method="post")
									input(type="tel", name="phone", placeholder="Ваше телефон", required).modal__form-field.field
									input(type="hidden", name="form", value="popup")
									button.modal__form-btn.btn.js-submit Отправить
									a(href="").modal__form-privacypolicy Политика конфиденциальности			

		.modal#response
			table.modal__wrapper
				tbody
					tr
						td.modal__inner
							.modal__box
								button.modal__close
								p.modal__caption Ваша скидка #[strong -25%]
								p.modal__text Спасибо за ваше доверие! #[br]В ближайшее время мы вам перезвоним.

		include _sprite

		script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
		script(src="js/slick.min.js")
		script(src="js/jquery.sticky.js")
		script(src="js/common.js")
